
#js-page-docs-sfd {

   
   
    
}


/* ---------------------------------------------- */
/* Header Page Container
/* ---------------------------------------------- */

.page-docs-layout {

    /* width: 100%; */
    padding: .8em 2.3em 1.6em 2.3em;
    background-color: var(--c-sfd-dark-anthracite);

}



.page-docs-layout > div:nth-of-type(1) {

    font-weight: bold;
    font-size: 1.3em;
    color: var(--c-cf-white);
}

.page-docs-layout > div:nth-of-type(2) {

    color: var(--c-sfd-light-grey)
}


#img-cartoon-me-books {

    float:right;
    height: 4em;
    padding-right: 1.3em;
    padding-top: 1.3em;
    opacity: .3;
}


.seperator-doc-card-item {

    /* background-color: red; */

    padding: 2.8em 0em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.seperator-doc-card-item > img {

    height: 1.5em;
}


/* ---------------------------------------------- */
/* Docs Card Layout
/* ---------------------------------------------- */

.docs-card-layout {

    display: grid;
    /* row-gap: 1.5em; */

    padding: 2em 0em;

    /* background-color: aqua; */
  
}

.doc-card-item {

    display: grid;
    row-gap: 1em;

}

.docs-card-header {

    font-weight: bold;
    line-height: 1.3em;
    color:var(--c-sfd-dark-grey);
}




/* ----------------------------------------------- */
/* Doc Choose Container 
/* ----------------------------------------------- */

.doc-choose-container {

    display: grid;
    row-gap: 1em;

}


/* ----------------------------------------------- */
/* Filter Selection Option 
/* ----------------------------------------------- */

.filter-selection {

    height: 3.5em;

    border: 1px solid var(--c-sfd-very-light-grey);
    border-radius: .4em;
    font-weight: bold;

    background-color: var(--c-sfd-very-light-grey);
    
}

.filter-selection > option {

    font-weight: bold;   
    
}


/* ----------------------------------------------- */
/* Doc View 
/* ----------------------------------------------- */


.doc-view-container {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.doc-view-container img {

    border-radius: .4em;
    height: 11em;

}






.docs-card-item-link-container {

    /* background-color: red; */

    height: 100%;
    width: 100%;

    /* padding-right: .6em; */

    display: grid;
    row-gap: .8em;

    justify-items: flex-end;
    align-content: center;
    
}

.docs-card-item-link-container > a {

    /* width: 8.5em; */
}



/* ----------------------------------------------------------- */
/* Medium Link Button | sfd 
/* ----------------------------------------------------------- */

.link-button-medium-sfd {

    /* cursor: not-allowed;
    opacity: .3; */

    height: 2.8em;
    
    padding: 0em 1em;

    display: flex;
    column-gap: .6em;
    align-items: center;
    /* justify-content: center; */

    font-size: 14.5px;
    font-weight: bold;

    text-decoration: none;
   
    border-radius: .4em;

    color: var(--c-sfd-dark-anthracite);
    background-color: var(--c-sfd-very-light-grey);
}

.link-button-medium-sfd > img {

    height: 1.3em;
}





