
#js-page-docs-sfd {

   
   
    
}


/* ---------------------------------------------- */
/* Header Page Container
/* ---------------------------------------------- */

.page-docs-layout {

    /* width: 100%; */
    padding: .8em 2.3em 1.6em 2.3em;
    background-color: var(--c-sfd-dark-anthracite);

}



.page-docs-layout > div:nth-of-type(1) {

    font-weight: bold;
    font-size: 1.3em;
    color: var(--c-cf-white);
}

.page-docs-layout > div:nth-of-type(2) {

    color: var(--c-sfd-light-grey)
}


#img-cartoon-me-books {

    float:right;
    height: 4em;
    padding-right: 1.3em;
    padding-top: 1.3em;
    opacity: .3;
}





/* ---------------------------------------------- */
/* Docs Card Layout
/* ---------------------------------------------- */
.docs-card-layout {

    display: grid;
    row-gap: 5.5em;

    padding: 3em 0em;

    /* background-color: aqua; */
  
}

.doc-card-item {

    display: grid;
    row-gap: 1em;

}

.docs-card-header {

    font-weight: bold;
    line-height: 1.3em;
    color:var(--c-sfd-dark-grey);
}




/* ----------------------------------------------- */
/* Doc Choose Container 
/* ----------------------------------------------- */

.doc-choose-container {

    display: grid;
    row-gap: 1em;

}


/* ----------------------------------------------- */
/* Filter Selection Option 
/* ----------------------------------------------- */

.filter-selection {

    height: 3.5em;

    border: 0px;
    border-radius: .4em;
    font-weight: bold;

    background-color: var(--c-sfd-very-light-grey);
    
}


.filter-selection > option {

    font-weight: bold;   
}


/* ----------------------------------------------- */
/* Doc View 
/* ----------------------------------------------- */


.doc-view-container {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.doc-view-container img {

    border-radius: .4em;
    height: 10.5em;

}

.docs-card-item-link-container {

    /* background-color: red; */

    height: 100%;
    width: 100%;

    display: grid;
    row-gap: .8em;

    justify-items: flex-end;
    align-content: center;
}

.docs-card-item-link-container a {

    border-radius: .4em;
    background-color: var(--c-sfd-dark-anthracite);
    background-color: var(--c-sfd-dark-grey);
    color: var(--c-cf-white);
    color: var(--c-sfd-light-grey);
    color: var(--c-sfd-dark-white);

    text-decoration: none;
    font-weight: bold;

    height: 2.8em;
    width: 8em;

    display: flex;
    align-items: center;
    justify-content: center;
}

