/* 
    sfd-gallery-img-slider.css

    define layout of gallery-img-slider.
    If u like to modify the layout of galler img slider than
    its here the correct part.

*/

/* ---------------------------------------------------------------------------------- */
/* Gallery Img Slider 
/* ---------------------------------------------------------------------------------- */
/* 
    - default view size 
    - fullscreen view size 

*/

.gallery-img-slider {

    position: relative;
    top:0;

    cursor: pointer;

    background-color: rgba(245, 40 , 145, .4);

}

.fullscrren-gallery-img-slider {

}

/* ----------------------------------------------------------------- */
/* Hover - Show Prev & Next [ js , if only 1.Img not shown ]
/* ----------------------------------------------------------------- */

.gallery-img-slider:hover .prev-click-gallery-img-slider + .next-click-gallery-img-slider {

    transition: .4s all ease-in-out;
    visibility: visible;
}


/* ---------------------------------------------------------------------- */
/* List of Img Container 
/* ---------------------------------------------------------------------- */

.list-of-img-container-gallery-img-slider {

    position: relative;
    top:0;

    width: 32em;
    height: 24em;

    /* show img container middle */
    display: flex;
    justify-content: center;
  
    background-color: red;

}

/* ---------------------------------------------------------------------- */
/* [1/4] - Img Container 
/* ---------------------------------------------------------------------- */

.img-container-gallery-img-slider {

}


/* ---------------------------------------------------------------------- */
/* [2/4] - Prev & Next Click Container  
/* ---------------------------------------------------------------------- */

.prev-click-gallery-img-slider,
.next-click-gallery-img-slider {

    visibility: hidden;
    position: absolute;
    top:34%;

    width: 3em;
    height: 6em;

    opacity: .6;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--c-p-da);
    color: white;

    cursor: pointer;

}

.prev-click-gallery-img-slider:hover,
.next-click-gallery-img-slider:hover {

    transition: .2s all;
    background-color: var(--c-grey);

} 

.prev-click-gallery-img-slider {

    left:0em;
    border-radius: 0em .3em .3em 0em;

}

.next-click-gallery-img-slider {

    right:0em;
    border-radius: .3em .0em 0em .3em;
    
}

/* ---------------------------------------------------------------------- */
/* [3/4] - Index & Max Index View Container  
/* ---------------------------------------------------------------------- */

.index-MaxIndex-view-gallery-img-slider {

    position: absolute;
    bottom: .3em;
    right: .8em;

    border-radius: .3em;
    background-color: green;
    color:white;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .2em;

    padding: .2em .4em;

}

/*

    actually-index-img-container-gallery-img-spinner
    max-index-img-container-gallery-img-spinner

*/

/* ---------------------------------------------------------------------- */
/* [4/4] - Fullsize Button for Gallery Img Slider
/* ---------------------------------------------------------------------- */

.btn-fullsize-gallery-img-slider {

    width: 100%;
    height: 3.3em;
    background-color: blueviolet;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top:0;

    display: none;

}



























/* ---------------------------------------------------------- */
/* Fullsize 
/* ---------------------------------------------------------- */

/* [ Info ] Fullsize - Gallery Img Spinner */
.fullsize-gallery-img-spinner-container {

    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;

    background-color: yellow;

    z-index: 99;

    display: flex;
    justify-content: center;
    align-items: center;

}

.fullsize-gallery-img-spinner-container .list-of-img-container-gallery-img-spinner:hover .btn-prevNext-gallery-img-spinner {
 
    transition: .4s all ease-in-out;
    visibility: visible;
}

.fullsize-gallery-img-spinner-container .list-of-img-container-gallery-img-spinner {

    height: 80vh;
    width: 80vw;

    display: flex;
    align-items: center;
    justify-content: center;

}

.fullsize-gallery-img-spinner-container .list-of-img-container-gallery-img-spinner > div:nth-of-type(1),
.fullsize-gallery-img-spinner-container .list-of-img-container-gallery-img-spinner > div:nth-of-type(2),
.fullsize-gallery-img-spinner-container .list-of-img-container-gallery-img-spinner > div:nth-of-type(3) {

    scale: 1.8;
    
}


/* hover show - prev/next */
.gallery-img-spinner-container:hover .btn-prevNext-gallery-img-spinner {

    transition: .4s all ease-in-out;
    visibility: visible;
}

.list-of-img-container-gallery-img-spinner {

    position: relative;
    top:0;

    width: 32em;
    height: 24em;

    /* show img container middle */
    display: flex;
    justify-content: center;
  
    background-color: red;

}



/* ----------------------------------- */
/* Previev , Next */
/* ----------------------------------- */

.btn-prevNext-gallery-img-spinner {

    visibility: hidden;
    position: absolute;
    top:34%;

    width: 3em;
    height: 6em;

    opacity: .6;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--c-p-da);
    color: white;

    cursor: pointer;
}


/* positions */
.pos-btn-prev-gallery-img-spinner {
    left:0em;
    border-radius: 0em .3em .3em 0em;
}

.pos-btn-next-gallery-img-spinner {
    
    right:0em;
    border-radius: .3em .0em 0em .3em;
    
}



/* ----------------------------------- */
/* Index & Max Index of Img Container  */
/* ----------------------------------- */

.count-of-img-container-gallery-img-spinner {

    position: absolute;
    bottom: .3em;
    right: .8em;

    border-radius: .3em;
    background-color: green;
    color:white;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .2em;

    padding: .2em .4em;

}


/* ----------------------------------- */
/* Position Close Fullsize */
/* ----------------------------------- */

.pos-btn-close-fullsize-gallery-img-spinner {

    position: absolute;
    /* top:.5em;
    right:36vw;  */

}



.fullsize-close-container {

    

    width: 100%;
    height: 3.3em;
    background-color: blueviolet;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top:0;

    display: none;
   
}

