/* 
    sfd-page-about-layout.css

    define all layouts which belongs to my about webpage.

*/


/* ---------------------------------------------------------------------------------------------- */
/* Page About | Container 
/* ---------------------------------------------------------------------------------------------- */

#page-about-container {

    /* because of parent main must be 100% for stretch */
    /* height: 100%; */

    display: grid;
    grid: auto auto / 1fr;

    /* display: none; */
    /* z-index: 99; */
    
}


/* ---------------------------------------------------------------------------------------------- */
/* | 1 / 5 | Title Welcome | Container  
/* ---------------------------------------------------------------------------------------------- */

#row-title-welcome-container {

    background-color: var(--c-sfd-dark-anthracite);
   
}

#title-welcome-layout {

    /* height: 5em; */

    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* -------------------------------------------- */
/* Title Welcome | Box 
/* -------------------------------------------- */

#title-welcome-box {

    display: flex;
    align-items: center;

}

#img-welcome-to {
 
    /* mobile */
    height: 6em;

    /* desktop */
    /* height: 11em;   */
}

#title-welcome-content {

    /* mobile */
    /* line-height: 1.8em; */

    /* desktop  */
    /* line-height: 2.8em; */

}

/* text - welcome to */
#title-welcome-content > div:nth-of-type(1) {
 
    /* mobile */
    /* font-size: 1.3em; */

    /* desktop  */
    /* font-size: 1.8em; */

    color: var(--c-sfd-light-grey);
    font-weight: bold;

}

/* text - superfreshdev world */
#title-welcome-content > div:nth-of-type(2) {

   
    /* mobile */
    /* font-size: 1.6em; */
    
    /* desktop  */
    /* font-size: 2.5em; */

    color: var(--c-cf-white);
    font-weight: bold;
}
/* text - world  */
#title-welcome-content > div:nth-of-type(2) > span {

    color: var(--c-sfd-light-brown);
}

#title-welcome-quote {
    
    /* mobile */
    font-size: .8em;

    /* desktop  */
    /* font-size: 1.5em; */
    
    color: var(--c-sfd-light-grey);
    font-weight: bold;
    /* opacity: .6; */

}


/* -------------------------------------------- */
/* Time | Box 
/* -------------------------------------------- */

#time-box {

   /* mobile */
    /* font-size: 1.3em; */
    /* display: none; */

    /* desktop  */
    /* font-size: 1.5em; */

}

#time-box > span:nth-of-type(1) {

    font-weight: bold;
    color: var(--c-sfd-light-brown);
}

#time-box > span:nth-of-type(2) {

    color: var(--c-sfd-light-grey);
}


/* ---------------------------------------------------------------------------------------------- */
/* | 2 / 5 | My Business Card | Container  
/* ---------------------------------------------------------------------------------------------- */

#row-my-business-card-container  {

    background-color: var(--c-cf-white);

    padding: 3em 0em;
}


/* ---------------------------------------------------------------------------------------------- */
/* | 3 / 5 | My Quote | Container  
/* ---------------------------------------------------------------------------------------------- */

#row-my-quote-container {

    background-color: var(--c-sfd-dark-anthracite);

}

/* modify-row | extra */



#my-quote-layout {

    position: relative;
    top:0;

    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
   
   
}

#my-quote-layout > img {

    width: 100%;
    height: 24em;

}

#my-quote-text-container {

    position: absolute;

   
    padding: .6em 1.3em;

    font-weight: bold;

    color:#d0d0d0;
    background-color: rgba(33, 33, 33 , .8);

    /* make more opacity  */
    

    border-radius: .4em;

    font-size: 1.4em;
    line-height: 1.6em;
    /* z-index: 3; */
    /* display: none; */

    /* z-index: 99; */
}

/* ---------------------------------------------------------------------------------------------- */
/* | 4 / 5 | My Top 3 Projects | Container  
/* ---------------------------------------------------------------------------------------------- */

#row-my-top3-projects-container {

    background-color: var(--c-cf-white);

    padding: 3em 0em;

}

/* ---------------------------------------------------------------------------------------------- */
/* | 5 / 6 | Process building fresh projects | Container  
/* ---------------------------------------------------------------------------------------------- */


#row-process-building-fresh-projects-container {

    background-color: var(--c-sfd-dark-anthracite);

}

#process-building-fresh-projects-layout {

    position: relative;
    top:0;

    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    /* z-index: 11; */

}

#process-building-fresh-projects-layout > img {

    width: 100%;
    height: 24em;

    position: absolute;
    top:0em;
    z-index: 0;

}

#process-building-fresh-projects-layout > div:nth-of-type(1) {

    /* position: relative;
    top:0em; */

    display: grid;
    row-gap: 1.3em;

    z-index: 1;
}





#header-the-process-to-building-fresh-projects {
   
    padding: 1.3em 1.3em;
    line-height: 1.8em;

    border-radius: .4em;
   
    background-color: rgba(33, 33, 33 , 1);

}

#header-the-process-to-building-fresh-projects > div:nth-of-type(1) {

    font-size: 1.4em;
    font-weight: bold;
    color:#d0d0d0;
    padding-bottom: .3em;
}

#header-the-process-to-building-fresh-projects > div:nth-of-type(2) {
    
    color: var(--c-sfd-light-grey);
    font-size: 1.2em;
}

#header-the-process-to-building-fresh-projects > div:nth-of-type(3) {
    
    color: var(--c-sfd-light-grey);
    font-size: 1.2em;
}


/* layout - pdf container  */
#pdf-container {

    /* background-color: red; */

    display: flex;
    align-items: center;
    justify-content: space-between;

   
   
   
}


#pdf-container > div:nth-of-type(1) {

    height:4em;
    width: 4em;
   
    border-radius: .4em;
    background-color: var(--c-sfd-dark-anthracite);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

}

#pdf-container > div:nth-of-type(1):hover {

    transition: .3s all;
    background-color: var(--c-sfd-light-brown);
}

#pdf-container > div:nth-of-type(1) > img {

    height: 2.5em;
    width: 2.5em;
    /* z-index: 2; */

}


.pdf-area {

    display: flex;
    align-items: center;
    column-gap: .6em;

   

    
}

.pdf-area > div:nth-of-type(1) {

    height: 4em;
    width: 4em;

    background-color: var(--c-sfd-light-grey);

    border-radius: .4em;

    display: flex;
    align-items: center;
    justify-content: center;

}


.pdf-button {

    height: 4em;
    padding: 0em 1.3em;

    border-radius: .4em;

    font-size: 1.2em;

    display: flex;
    align-items: center;
    column-gap: .8em;

    font-weight: bold;

    background-color: var(--c-sfd-light-grey);
}

.pdf-button > div:nth-of-type(1) {

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .6em;
}

.pdf-button img {

    height: 1.2em;
}




/* ---------------------------------------------------------------------------------------------- */
/* | 6 / 6 | Read More About Me | Container  
/* ---------------------------------------------------------------------------------------------- */

#row-more-about-me-container {

    background-color: var(--c-cf-white);

    padding: 3em 0em;

}



#welcome-about-container {

    display: grid;
    grid: auto auto / 1.5fr 1fr;

    align-items: flex-start;
    align-content: center;
    

    column-gap: 2em;

   
    padding: 0em 2em;

    /* padding-left: 1.6em; */
    /* border: 1px solid rgb(67, 67, 67); */
}



/* -------------------------------------------------------------------------------- */
/* | 01/02 | Welcome About Layout
/* -------------------------------------------------------------------------------- */

#welcome-about-layout {

    /* border: 1px solid rgb(165, 46, 46); */

    display: grid;
    row-gap: 5em;
    
    justify-content: center;

    /* padding-left: 1em; */
    /* justify-items: center; */

    /* padding-top: 0em; */
}





/* ---------------------------------------------------------- */
/* 2 / 3 | Tech Skill | Container 
/* ---------------------------------------------------------- */

#tech-skill-container {

    margin: 1em 0em;
    /* border: 1px solid red; */

    display: grid;
    row-gap: 5.2em;

  

}

/* ---------------------------------------------------------- */
/* Tech Skill Box
/* ---------------------------------------------------------- */

.tech-skill-box {

    display: grid;
    row-gap: 2.3em;

}

/* tech skill header */
.tech-skill-header {

    color: var(--c-sfd-light-brown);
   
    /* opacity: .6; */

    display: flex;
    align-items: center;
    column-gap: 1.3em;
}

.info-box-tech-skill-header {

    border-radius: .3em;

    background-color: var(--c-sfd-light-grey);
    background-color: rgb(60, 60, 60);
    /* background-color: var(--c-sfd-dark-grey); */
    /* background-color: black; */

    /* background-color: var(--c-sfd-light-brown); */
    
    /* opacity: .6; */

    /* background-color: black;
    background-color: var(--c-sfd-light-brown); */
    /* background-color: var(--c-sfd-dark-grey); */
    /* background-color: var(--c-sfd-light-brown); */

    width: 4.5em;
    height: 4.5em;

    display: flex;
    align-items: center;
    justify-content: center;
}

#img-frontend-stack-tech-skill-header {

    height: 2.4em; 

}

#img-backend-stack-tech-skill-header {

    height: 2.4em; 

}

.tech-skill-header > div:nth-of-type(2) {

    font-weight: bold;
    line-height: 2.2em;

}

.tech-skill-header > div:nth-of-type(2) > div:nth-of-type(1) {

    font-size: 1.8em;
    color:rgb(60, 60, 60);
}

.tech-skill-header > div:nth-of-type(2) > div:nth-of-type(2) {

    font-size: 1.3em;
    color: var(--c-sfd-light-grey);
    
}

/* ---------------------------------------------------------- */
/* Tech Skill Set Container
/* ---------------------------------------------------------- */

.tech-skill-set-container {

   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: .8em;

}

.tech-skill-info-box {

    border-radius: .3em;
   
   
    /* background-color: var(--c-sfd-light-grey); */

    background-color: rgb(60, 60, 60);

    color:rgb(36, 36, 36);

    color: var(--c-sfd-light-grey);

    background-color: rgb(60, 60, 60);
    color:#d0d0d0;

    /* background-color: black; */

   
    /* color:rgb(133, 133, 133); */

    font-weight: bold;

    font-size: 1.3em;

    display: inline-flex;
    column-gap: .5em;
    align-items: center;
    padding: .6em .8em;

    /* opacity: .6; */

    cursor: pointer;

}

.tech-skill-info-box:hover {

    transition: .3s all;
    background-color: var(--c-sfd-light-brown);
    color:rgb(36, 36, 36);
    
    opacity: 1;
}

.tech-skill-set-container img {

    height: 1.2em;
}

/* ---------------------------------------------------------- */
/* 3 / 3 | Jump to Read More About Me | Container 
/* ---------------------------------------------------------- */

#welcome-jump-to-read-more-about-me-container {

    display: flex;
    justify-content: flex-end;
    justify-content: center;

    
    /* padding: 2em 0em 3em 0em; */

    /* padding-right: 3em; */
    
    /* border:1px solid grey; */

    /* padding: 2em 0em; */

}

@keyframes slowlyElementUpDown {
    
    0% { padding-bottom: 8px;}
    100% { padding-top: 14px;}
}

/* auslagern in sfd-forms ... Link Buttons */



.a-sfd-light-brown {

    border-radius: .3em;
    padding: 0em .8em;

    display: inline-flex;
    align-items: center;
    column-gap: .6em;

    height: 3em;

    font-size: 1.4em;

    font-weight: bold;
    color: var(--c-cf-black);
    
    background-color: var(--c-sfd-light-grey);

    text-decoration: none;
}

.a-sfd-light-brown img:nth-of-type(1) {

    height: 2em;
}

.a-sfd-light-brown img:nth-of-type(2) {

    height: 1.3em;

    /* start condition for animation keyframe  */
    padding-bottom: 8px;
    animation: slowlyElementUpDown ease infinite .8s;
}

.a-sfd-light-brown:hover {

    transition: .3s all ease-in-out;
    background-color: var(--c-sfd-light-brown);
   
}


/* -------------------------------------------------------------------------------- */
/* | 02/02 | Img Contact | Layout 
/* -------------------------------------------------------------------------------- */

#welcome-img-contact-layout {

    padding-top: 3em;

    display: grid;
    row-gap: 1.3em;

    justify-content: center;

    border-radius: .4em;
   
}


#gallery-img-slider {

    /* border: 1px solid rgb(98, 0, 255); */
   
    display: flex;
    justify-content: center;

    /* gallery max img size , over responsive file its dynamically */
    height: 42em;
    /* width: 28em; */
   
    
}


#gallery-img-slider img {

    /* its important if we use images to use 
    images with same sizes for better handling and 
    not want jumping effects by different img sizes  */
    height: 42em;
    width: 28em;

    border-radius: .6em;
    

}


#welcome-contact-container {

    background-color: var(--c-sfd-light-grey);


    background-color: rgb(60, 60, 60);
    color:#d0d0d0;
    color:#d0d0d0;
    /* background-color: var(--c-sfd-light-brown); */
    /* opacity: .6; */
   

    /* width: 28em; */

    border-radius: .4em;
    height: 5em;

    display: flex;
    align-items: center;
    column-gap: 1em;

    cursor: pointer;
}

#welcome-contact-container:hover {

    transition: .4s all ease;
    background-color: var(--c-sfd-light-brown);
    color:black;
    opacity: 1;
}

#welcome-contact-container img {

    height: 2em;
    opacity: .8;
    
}

#welcome-contact-container > div:nth-of-type(1) {

    display: flex;
    align-items: center;
    justify-content: center;

  
    /* padding-left: .4em; */

    background-color: var(--c-sfd-light-brown);
    /* background-color: red; */

    height: 5em;
    width: 5em;
    
    border-radius: .4em 0em 0em .4em;
}

#welcome-contact-container > div:nth-of-type(2) {

    line-height: 1.6em;

}

#welcome-contact-container > div:nth-of-type(2) > div:nth-of-type(1) {

    font-size: 1.6em;
    font-weight: bold;

}

#welcome-contact-container > div:nth-of-type(2) > div:nth-of-type(2) {

    font-size: 1.2em;
    font-weight: bold;
    opacity: .6;

}


/* ---------------------------------------------------------------------------------------------- */
/* 02/03 | My Top 3 Projects | Container  
/* ---------------------------------------------------------------------------------------------- */

#row-top-3-projects-about-container {

    /* background-color: rgb(219, 219, 219); */
    background-color: var(--c-cf-white);

}


/* ---------------------------------------------------------------------------------------------- */
/* 03/03 | Read More About Me | Container  
/* ---------------------------------------------------------------------------------------------- */

#row-read-more-about-me-about-container{

    background-color: var(--c-sfd-dark-anthracite);
    background-color: var(--c-cf-white);
    /* color:var(--c-cf-white); */

}





































































/* ------------------------------------------------------------------------------------- */
/*  Welcome Content Info & Media | Container
/* ------------------------------------------------------------------------------------- */

#welcome-content-info-media-about-container {

    display: flex;
    /* align-items: center; */
    justify-content: space-between;

}

/* ---------------------------------------------------------- */
/* | 1 / 2 | Welcome Info | Container 
/* ---------------------------------------------------------- */

#info-about-container {

    /* border: 1px solid green; */
    align-self: flex-start;

    display: grid;
    row-gap: 4em;
}

/* ------------------------------------ */
/* welcome title */
/* ------------------------------------ */

#welcome-title-about-container {

    /* display: grid;
    row-gap: .4em; */

    display: flex;
    align-items: center;
    column-gap: .6em;

}

#welcome-title-about-container > div:nth-of-type(1) {

    font-size: 1.3em;
    font-weight: bold;
    color:#7b7d7d;
}

#welcome-title-about-container > div:nth-of-type(2) {

    font-size: 2em;
    font-weight: bold;
}

#welcome-title-about-container > div:nth-of-type(2) > span:nth-of-type(2) {

    color: rgb(217, 191, 152);
} 

/* ------------------------------------ */
/* Welcome Short Info  */
/* ------------------------------------ */

#welcome-short-info-about-container {

    display: grid;
    row-gap: 2.3em; 
    color:#7b7d7d;
}

#ul-li-short-info-points-fullstack-about {

    padding-left:2.2em;
    padding-top: .6em;
    /* padding-bottom: .6em; */

}

.sfd-welcome-short-info-container {

    border-radius: .4em;
    padding: 1.5em 1em;

    background-color: #7b7d7d;
    color: black;
}

/* default , specials  */
/* img icon sizes  */
.img-icon-welcome-about {
    height: 1.3em;
}

/* img icon mindset extra size */
.img-icon-mindset-welcome-about {
    height: 1.1em;
}


#welcome-short-info-quote {

    font-style: italic;
    margin: .3em 1em;
    opacity: .6;
}

/* --------------------------------------------------------------------------------------------- */
/* Audio Checkbox Label Handling ( violine , mindset , reading text)
/* --------------------------------------------------------------------------------------------- */

#lbl-chk-audio-violine-welcome-about,
#lbl-chk-audio-quote-welcome-about {

    font-style: italic;
    margin: 0em .6em;

    cursor: pointer;

}

/* default unshown stop text  */
#lbl-chk-audio-violine-welcome-about > div:nth-of-type(2),
#lbl-chk-audio-quote-welcome-about > div:nth-of-type(2) { 

    display: none;
}


/* by check -> unshown play text  */
#chk-lbl-audio-violine-welcome-about:checked ~ #main-base-layout #lbl-chk-audio-violine-welcome-about > div:nth-of-type(1),
#chk-lbl-audio-quote-welcome-about:checked ~ #main-base-layout #lbl-chk-audio-quote-welcome-about > div:nth-of-type(1) {

    display: none;
}
/* by check -> show stop text  */
#chk-lbl-audio-violine-welcome-about:checked ~ #main-base-layout #lbl-chk-audio-violine-welcome-about > div:nth-of-type(2),
#chk-lbl-audio-quote-welcome-about:checked ~ #main-base-layout #lbl-chk-audio-quote-welcome-about > div:nth-of-type(2) {

    display: block;
    font-weight: bold;
    color:rgb(116, 3, 3);
}


/* ---------------------------------------------------------- */
/* | 2 / 2 | Welcome Media | Container 
/* ---------------------------------------------------------- */

#media-about-container {

    /* border: 1px solid green; */
    background-color: green;
    width: 34em;
}

/* Info: Gallery Img Spinner is in folder
   feature-layouts as own gallery-img-slider.css file  */



   
/* ------------------------------------------------------- */
/*  Welcome Content Description & Contact | Container
/* ------------------------------------------------------- */

#welcome-content-description-contact-about-container {
    
    position: relative;
    top:0;

    padding: 3em 0em;
    
}

/*--------------------------------------- */
/* Description 
/*--------------------------------------- */

#description-about-container {

    background-color: rgb(77, 17, 17);

}

#contact-about-container {

    background-color: rgb(81, 81, 21);
}


/*--------------------------------------- */
/* Contact
/*--------------------------------------- */


#contact-about-container {

    /* border: 1px solid red; */

    display: grid;
    row-gap: .1em;

}

/* muss man vllt. nicht definieren löst css framewokr */
#contact-about-container > div:nth-of-type(1) {

}

#contact-about-container > div:nth-of-type(2) {
    
    color: #7b7d7d;

}



