/* 
    sfd-default-pages.css

    define at the beginning which page 
    are not showing

*/

/* default unshown pages on start - projects, docs , news */



/* ------------------------------------------------------------------- */
/* Main | Row Layouts 
/* ------------------------------------------------------------------- */

.row-sfd {

    /* position: relative; */

    /* important to give orientation where element starts */
    display: flex;
    justify-content: center;
  
}

.row-grid-sfd {

    display: grid;
    
}

.row-content-sfd {

    padding: 1.3em 1.6em;

}

.row-content-area-sfd {

    width: 100%;

    /* mobile  */
    padding: .8em .8em;

   

    /* desktop  */
    /* padding: 2.8em .8em; */

}


.row-fullsize-content-area-sfd {

    /* mobile  */
    /* position: relative;
    top:0em; */

    width: 82em;
    height: 24em;

    padding: 0;

    /* desktop  */
    /* padding: 2.8em .8em; */

}



/* ------------------------------------------------------------------- */
/* Page | Header 
/* ------------------------------------------------------------------- */

.page-header-sfd {

    background-color: var(--c-sfd-dark-anthracite);

}


.page-title-header-sfd {

    /* float:right; */

}

.page-title-header-sfd > div:nth-of-type(1) {

    color: var(--c-cf-white);
    font-weight: bold;
    font-size: 1.3em;

}

.page-title-header-sfd > div:nth-of-type(2) {

    color: var(--c-sfd-light-grey);

}


/* filternav.css  */
.page-filter-header-sfd {

    float:right;
    margin: 1em .8em .3em .8em;
    

}



.page-content-header-sfd {

    background-color: var(--c-sfd-dark-anthracite);
    border-radius: .4em;

    height: 4.2em;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.page-content-title-header-sfd {

    padding: 0em 1em;

    line-height: 1.3em;

}

.page-content-title-header-sfd > div:nth-of-type(1) {

    color: var(--c-sfd-light-grey);
    font-size: .9em;
}

.page-content-title-header-sfd > div:nth-of-type(2) {

    color: var(--c-cf-white);
    font-size: 1.3em;
    font-weight: bold;
    padding-left: .4em;
}

.page-content-header-sfd > div:nth-of-type(2) {

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 4em;

    background-color: var(--c-sfd-light-brown);

    border-radius: 0em .4em .4em 0em;
}

.page-content-header-sfd > div:nth-of-type(2) > img {

    width: 1.8em;
}