/*

    doc-card-layout.css

    > style my doc card layout in header & content 

*/

/* ---------------------------------------------------------------------------- */
/* List of Doc Cards Container 
/* ---------------------------------------------------------------------------- */

#list-of-doc-cards-container {

    display: grid;
    padding: 2em 0em;

}

/* ---------------------------------------------------------------------------- */
/* Doc Card 
/* ---------------------------------------------------------------------------- */

.doc-card {

    position: relative;
    top:0;

    display: grid;
    row-gap: 1em;

}

/* ---------------------------------------------------------------------------- */
/* Header | Doc Card
/* ---------------------------------------------------------------------------- */

.header-doc-card {

    line-height: 1.3em;
    color:var(--c-sfd-dark-grey);
}

.header-doc-card > span:nth-of-type(1) {

    font-weight: bold;

}

/* ---------------------------------------------------------------------------- */
/* Content | Doc Card 
/* ---------------------------------------------------------------------------- */

.content-doc-card {

    display: grid;
    row-gap: 1em;

}

/* ----------------------------------------------- */
/* Doc Selected View Container | Doc Card  
/* ----------------------------------------------- */

.doc-selected-view-container {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.doc-selected-view-container > img:nth-of-type(1) {

    border-radius: .4em;
    height: 9em

}

/* ----------------------------------------------- */
/* Doc Link Ressource Container | Doc Card 
/* ----------------------------------------------- */

.doc-link-ressource-container  {

    height: 100%;
    width: 100%;

    display: grid;
    row-gap: .8em;

    justify-items: flex-end;
    align-content: center;

     /* background-color: red; */
    
}

.doc-link-ressource-container  > a {

    width: 8.5em;

    /* default unshown links because u must select  */
    display: none;
}


/*---------------------------------------- */
/* Img Arrow ( if not selected )
/*---------------------------------------- */

.img-arrow-to-show-to-select {

    height: 4.5em;
    padding-right: 3em;
}

