/*

    doc-card-layout.css

    > style my doc card layout in header & content 

*/

/* ---------------------------------------------------------------------------- */
/* List of Doc Cards Container 
/* ---------------------------------------------------------------------------- */

#list-of-doc-cards-container {

    display: grid;
    row-gap: 2.3em;
    padding: 2em 0em;

}

/* ---------------------------------------------------------------------------- */
/* Doc Card 
/* ---------------------------------------------------------------------------- */

.doc-card {

    position: relative;
    top:0;

    display: grid;
    row-gap: 1em;

}

/* ---------------------------------------------------------------------------- */
/* Header | Doc Card
/* ---------------------------------------------------------------------------- */

.header-doc-card {

    line-height: 1.3em;
    color:var(--c-sfd-dark-grey);
}

.header-doc-card > span:nth-of-type(1) {

    font-weight: bold;

}

/* ---------------------------------------------------------------------------- */
/* Content | Doc Card 
/* ---------------------------------------------------------------------------- */

.content-doc-card {

    display: grid;
    row-gap: 1em;

}

/* ----------------------------------------------- */
/* Doc Selected View Container | Doc Card  
/* ----------------------------------------------- */

.doc-selected-view-container {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.doc-selected-view-container > img:nth-of-type(1) {

    border-radius: .4em;
    height: 18vh;

}

/* ----------------------------------------------- */
/* Doc Link Ressource Container | Doc Card 
/* ----------------------------------------------- */

.doc-link-ressource-container  {

    height: 100%;
    width: 100%;

    display: grid;
    row-gap: .8em;

    justify-items: center;
    align-content: center;

     /* background-color: red; */
    
}

.doc-link-ressource-container > a {

    width: 8.5em;

    /* default unshown links because u must select  */
    display: none;
}


/*---------------------------------------- */
/* Img Arrow ( if not selected )
/*---------------------------------------- */

.img-arrow-to-show-to-select {

    height: 6vh;
    /* padding-right: 3em; */
}




/*-------------------------------------------------------------------------------------------------------- */
/* In Progress | Doc Card 
/*-------------------------------------------------------------------------------------------------------- */

.in-progress-doc-card {

    display: grid;
    justify-items: center;
  
    background-color: rgb(66, 66, 66);

    background-color: var(--c-sfd-light-anthracite);
    background-color: var(--c-sfd-dark-anthracite);

    padding: 1.5em 0em;

    /* padding: 2em 0em ; */
    border-radius: .4em;
    display: grid;
    row-gap: 1.5em;
}

.in-progress-header-doc-card {

    color: var(--c-sfd-very-light-grey);
    text-align: center;
    padding: 0em .8em;
}

.in-progress-header-doc-card > span:nth-of-type(1) {

    font-weight: bold;

}

.dead-line-info-container {

    display: flex;
    column-gap: .5em;
    
    border-radius: .3em;
    padding: .4em .6em;
    background-color: var(--c-sfd-very-light-grey);
    color: var(--c-sfd-light-anthracite);
}

.dead-line-info {

    display: flex;
    align-items: center;
    column-gap: .4em;

    font-weight: bold;
}

.dead-line-info img {

    height: 1.1em;
}

.dead-line-status {

    justify-self: flex-end;
    color: var(--c-sfd-red);
    font-size: 14.5px;
}

.in-progress-doc-img-container {

    display: flex;
    align-items: center;
    column-gap: .3em;
}

.in-progress-doc-img-container > div:nth-of-type(1) { 

    font-weight: bold;
    font-size: 22px;
    color: var(--c-sfd-very-light-grey);
}

.in-progress-doc-img-container > img {

    height: 14vh;
    border-radius: .4em;
    
    box-shadow: rgba(168, 168, 168, 0.3) 0px 0px 0px 2px;


}