/*

    docs-page.css

    > define styles defaults which only are using in the doc page. 

*/



/* ------------------------------------------------------- */
/* CSS Handling | Filter Content Page 
/* ------------------------------------------------------- */

/* filter label for open content filter page  */
#chk-doc-content-filter,
#radio-doc-filter-pdf-frontend,
#radio-doc-filter-pdf-backend,
#radio-doc-filter-pdf-tools { 

    display: none;
}

/* ---------------------------------- */
/* Doc Filter Label | Checked 
/* ---------------------------------- */

#chk-doc-content-filter:checked ~ #main-footer-base #lbl-nav-doc-filter {

    border: .2em solid var(--c-sfd-red);
    background-color: var(--c-sfd-red);
    
}

/* ---------------------------------- */
/* Doc Nav Filter Content Page 
/* ---------------------------------- */

#chk-doc-content-filter:checked ~ #main-footer-base #filter-doc-nav-list-container {

    z-index: 5;
    top:4em;
    background-color: var(--c-sfd-light-grey);
    
}

#chk-doc-content-filter:checked ~ #main-footer-base #filter-doc-nav-list-container > .lbl-filtered-content-page {

    display: flex;
}

#radio-doc-filter-pdf-frontend:checked ~ #main-footer-base #filter-doc-nav-list-container > .lbl-filtered-content-page:nth-of-type(1),
#radio-doc-filter-pdf-backend:checked ~ #main-footer-base #filter-doc-nav-list-container > .lbl-filtered-content-page:nth-of-type(2),
#radio-doc-filter-pdf-tools:checked ~ #main-footer-base #filter-doc-nav-list-container > .lbl-filtered-content-page:nth-of-type(3) {

    background-color: var(--c-sfd-dark-anthracite);
}

