/*

    sfd-link-layouts.css

    > define my sfd differnt types of link layouts 
    for example in about my contact me link button , ... 

*/


/* ---------------------------------------------------------------- */
/* Big Link Button (  e.g email , jumping content  ) 
/* ---------------------------------------------------------------- */

.big-link-button-sfd {

    height: 4em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    /* unset default link style */
    text-decoration: none;

    border-radius: .4em;
    color: var(--c-cf-black);
    /* background-color: var(--c-sfd-light-brown); */


    transition: all .4s;
}

.big-link-button-sfd:hover {

    background-color: var(--c-sfd-dark-anthracite);
    color: var(--c-sfd-dark-white);

}


/* -------------------------------------------------------- */
/* Img & Text 
/* -------------------------------------------------------- */

.big-link-button-sfd > div:nth-of-type(1) {

    /* to let child layout element grow max height of parent */
    height: 100%;

    display: flex;
    align-items: center;
    column-gap: 1em;

}

.box-info-big-link-button-sfd {

    height: 4em;
    width: 3.3em;
    /* max-width: 3.3em;
    min-width: 3.3em; */

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: .3em 0em 0em .3em;
    background-color: var(--c-sfd-dark-grey);
    /* background-color: var(--c-sfd-dark-anthracite); */

}

.box-main-sub-title-link-button {

    line-height: 1.2em;
}

.main-title-big-link-button {

    font-size: 16px;
    font-weight: bold;
    line-height: 1.2em;
}

.sub-title-big-link-button {

    /* font-style: italic; */
    opacity: .6;

}



/* -------------------------------------------------------- */
/* Optional 2nd Img Container 
/* -------------------------------------------------------- */

.last-box-info-big-link-button-sfd {

    height: 4em;
    padding: 0em 1em 0em 0em;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0em .4em .4em 0em;
    /* background-color: red; */
 
}
