/*

    sfd-link-layouts.css

    > define my sfd differnt types of link layouts 
    for example in about my contact me link button , ... 

*/


/* ---------------------------------------------------------------- */
/* Big Link Button (  e.g email , jumping content  ) 
/* ---------------------------------------------------------------- */

.big-link-button-sfd {

    height: 4em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    /* unset default link style */
    text-decoration: none;
    color:var(--c-cf-black);

    border-radius: .4em;

    transition: all .4s;
}

.big-link-button-sfd:hover {

    background-color: var(--c-sfd-dark-anthracite);
    color: var(--c-sfd-dark-white);

}

/* ------------------------------------------------ */
/* E-Mail Link Style | sfd 
/* ------------------------------------------------ */

.link-email-style-sfd {

    background-color: var(--c-sfd-light-brown);
    color: var(--c-cf-black);

}

/* ------------------------------------------------ */
/* Other Link Style | sfd 
/* ------------------------------------------------ */

.link-other-style-sfd {

    background-color: var(--c-sfd-very-light-grey);
    color: var(--c-cf-black);
}



/* -------------------------------------------------------- */
/* Img & Text Link Container 
/* -------------------------------------------------------- */

.big-link-button-sfd > div:nth-of-type(1) {

    /* to let child layout element grow max height of parent */
    height: 100%;

    display: flex;
    align-items: center;
    column-gap: 1em;

}

.box-info-big-link-button-sfd {

    height: 4em;
    width: 3.3em;
    /* max-width: 3.3em;
    min-width: 3.3em; */

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: .4em 0em 0em .4em;

    padding-left: .5em;
    /* background-color: var(--c-sfd-dark-grey); */
    /* background-color: var(--c-sfd-dark-anthracite); */
    /* background-color: red; */

}

.box-main-sub-title-link-button {

    line-height: 1.2em;
}

.main-title-big-link-button {

    color:var(--c-cf-black);
    font-weight: bold;
    line-height: 1.2em;
}

.main-other-title-big-link-button {

    color:var(--c-sfd-dark-grey);
    font-weight: bold;
    line-height: 1.2em;

}

.sub-title-big-link-button {

    font-style: italic;
    font-size: 14.5px;
    opacity: .6;

}

/* -------------------------------------------------------- */
/* Optional 2nd Img Container 
/* -------------------------------------------------------- */

.last-box-info-big-link-button-sfd {

    height: 4em;
    padding: 0em 1em 0em 0em;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0em .4em .4em 0em;
    /* background-color: red; */
 
}
