/*

    sfd-link-layouts.css

    > define my sfd differnt types of link layouts 
    for example in about my contact me link button , ... 

*/


/* ---------------------------------------------------------------- */
/* 1 / 2 | Big Link Button | sfd 
/* > e.g email , jumping content  
/* ---------------------------------------------------------------- */

.big-link-button-sfd {

    height: 4em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    /* unset default link style */
    text-decoration: none;
    
    border-radius: .4em;

    transition: all .4s;
}



/* ------------------------------------------------ */
/* E-Mail Link Style | sfd 
/* ------------------------------------------------ */

.link-email-style-sfd {

    background-color: var(--c-sfd-light-brown);
    color:var(--c-sfd-dark-grey);

    transition: all .4s;

}

/* ------------------------------------------------ */
/* Other Link Style | sfd 
/* ------------------------------------------------ */

.link-other-style-sfd {

    background-color: var(--c-sfd-very-light-grey);
    color:var(--c-sfd-dark-grey);

    transition: all .4s;
}

.link-email-style-sfd:hover ,
.link-other-style-sfd:hover {

    background-color: var(--c-sfd-dark-anthracite);
    color:white;

}



/* -------------------------------------------------------- */
/* Img & Text Link Container 
/* -------------------------------------------------------- */

.big-link-button-sfd > div:nth-of-type(1) {

    /* to let child layout element grow max height of parent */
    height: 100%;

    display: flex;
    align-items: center;
    column-gap: 1em;

}

.box-info-big-link-button-sfd {

    height: 4em;
    width: 3.3em;
    /* max-width: 3.3em;
    min-width: 3.3em; */

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: .4em 0em 0em .4em;

    padding-left: .5em;
    /* background-color: var(--c-sfd-dark-grey); */
    /* background-color: var(--c-sfd-dark-anthracite); */
    /* background-color: red; */

}

.box-main-sub-title-link-button {

    line-height: 1.2em;
}

.main-title-big-link-button {

    font-weight: bold;
    line-height: 1.2em;
}

.main-other-title-big-link-button {

    font-weight: bold;
    line-height: 1.2em;

}

.sub-title-big-link-button {

    font-style: italic;
    font-size: 14.5px;
    opacity: .6;

}

/* -------------------------------------------------------- */
/* Optional 2nd Img Container 
/* -------------------------------------------------------- */

.last-box-info-big-link-button-sfd {

    height: 4em;
    padding: 0em 1em 0em 0em;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0em .4em .4em 0em;
    /* background-color: red; */
 
}





/* ----------------------------------------------------------- */
/* 2 / 2 | Medium Link Button | sfd 
/* ----------------------------------------------------------- */

.link-button-medium-sfd {

    height: 2.8em;
    
    padding: 0em 1em;

    display: flex;
    column-gap: .6em;
    align-items: center;

    font-size: 14.5px;
    font-weight: bold;

    text-decoration: none;
   
    border-radius: .4em;

    color: var(--c-sfd-dark-anthracite);
    background-color: var(--c-sfd-very-light-grey);

}

.link-button-medium-sfd > img {

    height: 1.3em;
}