/* 
    cf-imgs-icons-videos.css

    define all styles of images & icons & videos

    sfd =  [s]uper[f]resh[d]ev 

*/



/* -------------------------------------------------------------------- */
/* Icons
/* -------------------------------------------------------------------- */

/* small , medium , large Icons  */

.icon-small {
    width: 1em;
}

.icon-medium {
    width: 1.5em;
}


/* -------------------------------------------------------------------- */
/* Imgs 
/* -------------------------------------------------------------------- */

.img-style-sfd {

    border-radius: .3em;
}

/* ----------------------------------- */ 
/* Default 
/* ----------------------------------- */ 

/* ----------------------------------- */ 
/* Default - Small Sizes  
/* ----------------------------------- */ 
.img-small {
    height: 12em;
}

/* ----------------------------------- */ 
/* Default - Medium Sizes  
/* ----------------------------------- */ 

.img-medium {
    max-height: 24em;
}

.img-fix-medium {
    height: 28em;
    width: 16em;
}

.img-potrait-medium {
    height: 28em;
}


/* focus hochformat oder querformat */ 

.img-landscape-medium {
    max-height: 56em;
    max-width: 70vw;
}

/* ----------------------------------- */ 
/* Default - Lage Sizes  
/* ----------------------------------- */ 






/* -------------------------------------------------------------------- */
/* Video
/* -------------------------------------------------------------------- */