/* 
    cf-imgs-icons-videos.css

    define all styles of images & icons & videos

    sfd =  [s]uper[f]resh[d]ev 

*/



/* -------------------------------------------------------------------- */
/* Icons
/* -------------------------------------------------------------------- */


/* ------------------------------- */
/* Small
/* ------------------------------- */ 

.cf-icon-small-1 { height: .8em; }
.cf-icon-small-2 { height: 1em; }
.cf-icon-small-3 { height: 1.3em; }
    
/* ------------------------------- */
/* Medium
/* ------------------------------- */ 

.cf-icon-medium-1 { height: 1.5em; }
.cf-icon-medium-2 { height: 1.8em; }
.cf-icon-medium-3 { height: 2em; }  

/* ------------------------------- */
/* Large
/* ------------------------------- */ 

.cf-icon-large-1 { height: 2.1em; }
.cf-icon-large-2 { height: 2.2em; }
.cf-icon-large-3 { height: 2.3em; }
.cf-icon-large-4 { height: 2.4em; }
.cf-icon-large-5 { height: 2.5em; }

/* ------------------------------- */
/* Big
/* ------------------------------- */ 

.cf-icon-big-1 { height: 2.8em; }
.cf-icon-big-1 { height: 3em; }
.cf-icon-big-1 { height: 3.3em; }


/* -------------------------------------------------------------------- */
/* Imgs 
/* -------------------------------------------------------------------- */

.img-style-sfd {

    border-radius: .3em;
}

/* ----------------------------------- */ 
/* Default 
/* ----------------------------------- */ 

/* ----------------------------------- */ 
/* Default - Small Sizes  
/* ----------------------------------- */ 
.img-small {
    height: 12em;
}

/* ----------------------------------- */ 
/* Default - Medium Sizes  
/* ----------------------------------- */ 

.img-medium {
    max-height: 24em;
}

.img-fix-medium {
    height: 28em;
    width: 16em;
}

.img-potrait-medium {
    height: 28em;
}


/* focus hochformat oder querformat */ 

.img-landscape-medium {
    max-height: 56em;
    max-width: 70vw;
}

/* ----------------------------------- */ 
/* Default - Lage Sizes  
/* ----------------------------------- */ 






/* -------------------------------------------------------------------- */
/* Video
/* -------------------------------------------------------------------- */