/* 
    welcome-header-container.css

    define the welcome container layout of my
    about page 

*/


/* ---------------------------------------------------------------------- */
/* Welcome Title 
/* ---------------------------------------------------------------------- */

#welcome-header-container {

    
    padding: .3em 1.3em 1em 0em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--c-sfd-dark-anthracite);   

}

/* -------------------------------------------------------------- */
/* Box | Welcome Title
/* -------------------------------------------------------------- */

#box-welcome-title {

    display: flex;
    align-items: center;

}

#img-welcome-cartoon-me {
 
    /* mobile */
    height: calc(4.3em + 3vh);

    /* desktop */
    /* height: 11em;   */
}

#content-welcome-title {

    display: grid;
    row-gap: .3em;
}

#content-welcome-title > div:nth-of-type(1) {
 
    line-height: 1.6em;

}

#title-style-welcome-to ,
#title-style-superfreshdev {

    font-weight: bold;

}

#title-style-welcome-to {

    color: var(--c-sfd-light-grey);

    /* mobile */
    font-size: 17px;

    /* desktop  */
    /* font-size: 1.8em; */

}

#title-style-superfreshdev {

    color: var(--c-cf-white);

    /* mobile */
    font-size: 20px;

    /* desktop  */
    /* font-size: 2.5em; */
   
}

#title-style-superfreshdev > span {

    color: var(--c-sfd-light-brown);

}

#sub-title-style-welcome-quote {

    color: var(--c-sfd-light-grey);

    /* padding-top: .2em; */
    line-height: 1.2em;
    font-style: italic;

    /* mobile */
    font-size: 14.5px;

    /* desktop  */
    /* font-size: 1.5em; */

}

/* -------------------------------------------------------------- */
/* Box | Welcome Date
/* -------------------------------------------------------------- */

#box-welcome-date > span:nth-of-type(1) {

    font-weight: bold;
    color: var(--c-sfd-light-brown);
}

#box-welcome-date > span:nth-of-type(2) {

    color: var(--c-sfd-light-grey);
}
