/*
    resp-sfd-page-docs.css
  
    Respsonve Sets for news pages
    
*/


/* --------------------------------------------------------------------- */
/* >= 355px 
/* --------------------------------------------------------------------- */
@media ( min-width: 355px ) {


    /* --------------------------------------------- */
    /* Doc Card Layout  
    /* --------------------------------------------- */
    .doc-selected-view-container > img:nth-of-type(1),
    .content-doc-book-card > img:nth-of-type(1) { height: 14.5em; }
   
    /* .doc-selected-view-container > img:nth-of-type(1) { height: 22vh; }
    .content-doc-book-card > img:nth-of-type(1) { height: 22vh; }

    .in-progress-doc-img-container > img { height: 18vh; } */
     
}

/* --------------------------------------------------------------------- */
/* >= 385px 
/* --------------------------------------------------------------------- */
@media ( min-width: 385px ) {

    /* --------------------------------------------- */
    /* Doc Card Layout  
    /* --------------------------------------------- */
    .doc-selected-view-container > img:nth-of-type(1),
    .content-doc-book-card > img:nth-of-type(1) { height: 16.5em; }

    /* --------------------------------------------- */
    /* In Progress Doc Card 
    /* --------------------------------------------- */
    .in-progress-doc-img-container > img { height: 12.5em; }

}

/* --------------------------------------------------------------------- */
/* >= 385px 
/* --------------------------------------------------------------------- */
@media ( min-width: 400px ) {

   /* --------------------------------------------- */
   /* Doc Card Layout  
   /* --------------------------------------------- */
   .doc-selected-view-container > img:nth-of-type(1),
   .content-doc-book-card > img:nth-of-type(1) { height: 17.5em; }

}

/* --------------------------------------------------------------------- */
/* >= 520px 
/* --------------------------------------------------------------------- */
@media ( min-width: 520px ) {

    /* kleiner im content werden  */

    /* --------------------------------------------- */
    /* Doc Card Layout  
    /* --------------------------------------------- */

    /* .doc-selected-view-container > img:nth-of-type(1) { height: 25vh; }
    .content-doc-book-card > img:nth-of-type(1) { height: 25vh; }

    .img-arrow-to-show-to-select {  height: 10vh; }

    .in-progress-doc-img-container > img { height: 23vh; } */
   

         
}

/* --------------------------------------------------------------------- */
/* >= ??? px 
/* --------------------------------------------------------------------- */


