/*

    sfd-icon-and-img-clipart-sizes.css 

    > defines all art of small images and icons which
    need an different size because of the art of the img

*/


/* --------------------------------------------- */
/* Icon Img Sizes 
/* --------------------------------------------- */

.img-icon-small-1-sfd { height: 1em; }
.img-icon-small-2-sfd { height: 1.3em; }

.img-icon-medium-sfd { height: 1.5em; }

.img-icon-large-sfd { height: 1.8em; }

.img-icon-big-1-sfd { height: 2em; }
.img-icon-big-2-sfd { height: 2.3em; }
.img-icon-big-3-sfd { height: 2.5em; }

/* --------------------------------------------- */
/* Img Clipart Sizes 
/* --------------------------------------------- */

.img-clipart-small { height: 4.5em; }

.img-clipart-medium { height: 6.5em; }

.img-clipart-big { height: 8.5em; }