/* 
    sfd-colors.css

    define my sfd(superfreshDev) colors which represent my
    portfolio webpage

*

//* ------------------------------------------------------- */
/* sfd - Colors
/* ------------------------------------------------------- */

:root {

    /* ----------------------------- */
    /* Brown                         */
    /* ----------------------------- */

    --c-sfd-light-brown: #d9bf98;
    --c-sfd-light-brown-darker:#a9967b;

    /* --c-p-lb: #d9bf98; 
    --c-s-lb: #a9967b; */

    /* ----------------------------- */
    /* Grey                          */
    /* ----------------------------- */

    /* new gray  color:#d0d0d0; */

    --c-sfd-light-grey: #7b7d7d;
    --c-sfd-dark-grey: #454646;
    
    /* --c-p-mg: #7b7d7d;
    --c-s-dg: #454646; */

    /* ----------------------------- */
    /* Anthracite (black-grey)       */
    /* ----------------------------- */

    --c-sfd-dark-anthracite: #212121; 
    --c-sfd-light-anthracite: #303030;
    

    /* --c-p-da: #212121;
    --c-hover-antrhazit: #303030; */


    /* ----------------------------- */
    /* Red                           */
    /* ----------------------------- */

    --c-sfd-red: rgb(176, 32, 32);
   
    /* --c-p-red: rgb(176, 32, 32); */


    /* ----------------------------- */
    /* Green                         */
    /* ----------------------------- */


}