/* 
    sfd-text-styles.css

    define all sfd styles for text & co.

*/



/* -------------------------------------------------------------------------------------- */
/* h1 - h3 | sfd styles
/* -------------------------------------------------------------------------------------- */

/* Remember h1 - h3 had default paddings  */

/* default h1 inline-block, block type  */
.h1-sfd-ib ,
.h1-sfd-b {

    color:#d9bf98;
}

/* --------------------------------------- */
/* h1 - h3 | Inline Block  */
/* --------------------------------------- */

.h1-sfd-ib {

    display: flex;
    align-items: center;
    column-gap: .3em;

}

/* 2 */

/* 3 */

/* --------------------------------------- */
/* h1 - h3 | Block  */
/* --------------------------------------- */

.h1-sfd-b {

    display: flex;
    align-items: center;
    column-gap: .3em;
    
}

.h1-sfd-content-container {

    display: flex;
    align-items: center;
    column-gap: 1.3em;

    /* background-color: red; */

}

.h1-sfd-content-container > h1 {

    color:#d9bf98;
}



.txt-c-light-grey-sfd {

    color: #7b7d7d;
}

.txt-c-light-brown-sfd {

    color:#d9bf98;
}

.txt-c-white {

    color: white;
}