/*

    sfd-layouts.css

    > define all sfd layouts which define my 
    personally look of my webpage superfreshdev.
    For example my layout for company logo , nav header , ... 

*/




/* ---------------------------------------------------------- */
/* Seperator | Header 
/* ---------------------------------------------------------- */

.seperator-header-label-sfd {

    color:var(--c-cf-white);
    font-weight: bold;
}



/* ------------------------------------------------------------------- */
/* Company Logo | Header | sfd
/* ------------------------------------------------------------------- */

#company-logo-sfd {

   

    cursor: pointer;

    border-radius: .4em;
    background-color: var(--c-sfd-light-anthracite);
   
    /* -------------------- */ 
    /* mobile  */
    /* -------------------- */ 

    height: 3em;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .6em;

    /* -------------------- */ 
    /* desktop  */
    /* -------------------- */ 

}

#img-company-logo {

    height: 1.3em;
    display: none;

    /* -------------------- */ 
    /* mobile  */
    /* -------------------- */ 

   

    /* -------------------- */ 
    /* desktop  */
    /* -------------------- */ 

    
}

#about-version-company-logo {

   
    padding: .1em .6em 0em.6em;

    color: var(--c-sfd-light-brown);

    color: var(--c-sfd-light-brown-darker);

    color:grey;

    line-height: 1em;

    /* display: none; */

    /* -------------------- */ 
    /* mobile  */
    /* -------------------- */ 

  
    /* -------------------- */ 
    /* desktop  */
    /* -------------------- */ 

}

#other-version-company-logo {

    padding: 0em .6em;
    line-height: 1.1em;
    display: none;

    /* -------------------- */ 
    /* mobile  */
    /* -------------------- */ 
    

    /* -------------------- */ 
    /* desktop  */
    /* -------------------- */ 

}

#other-version-company-logo > div:nth-of-type(1) {

    color: var(--c-cf-white);
    font-weight: bold;

    /* -------------------- */ 
    /* mobile  */
    /* -------------------- */ 
    
    /* font-size: .9em; */

    /* -------------------- */ 
    /* desktop  */
    /* -------------------- */ 



}

#other-version-company-logo > div:nth-of-type(2) {

   
    color: var(--c-sfd-light-grey);

    /* -------------------- */ 
    /* mobile  */
    /* -------------------- */ 
    font-size: .8em;

    

    /* -------------------- */ 
    /* desktop  */
    /* -------------------- */ 

}



































/* ------------------------------------------------------------------- */
/* Main | Row Layouts for content 
/* ------------------------------------------------------------------- */

.row-sfd {

    /* position: relative; */

    /* important to give orientation where element starts */
    display: flex;
    justify-content: center;
  
}

.row-grid-sfd {

    display: grid;
}


.row-content-area-sfd {

    width: 100%;

    /* mobile  */
    padding: .8em .8em;

   

    /* desktop  */
    /* padding: 2.8em .8em; */

}


.row-fullsize-content-area-sfd {

    /* mobile  */
    /* position: relative;
    top:0em; */

    width: 82em;
    height: 24em;

    padding: 0;

    /* desktop  */
    /* padding: 2.8em .8em; */

}




























/* ----------------------------------------------------------------------------------------- */
/* Ist Müll kann weg 
/* ----------------------------------------------------------------------------------------- */

.line-100p-light-brown-container {

    width: 100%;
    height: 33px;

    position: absolute;
    bottom: 0px;

    display: none;

    background-color: var(--c-sfd-light-brown);
    background-color: var(--c-sfd-dark-grey);

}

#my-container {

    /* background-color: green; */
    background-color: white;
    background-color: var(--c-sfd-dark-anthracite);

    position: relative;
    /* top:-1em; */
    /* top:-32em; */
    /* bottom: 0; */

    height: 22em;
 

    display: flex;
    justify-content: center;

    /* border-bottom: 2px solid #212121; */



}

#my-image {

    width: 82em;
    position: absolute;
}


.my-quote-container {

    
    border-radius: .4em;
    padding: .3em .6em;

    background-color: var(--c-sfd-dark-anthracite);
    color:white;
}























