/*

    sfd-icon-and-img-clipart-sizes.css 

    > defines all art of small images and icons which
    need an different size because of the art of the img

*/


/* --------------------------------------------- */
/* Icon Img Sizes 
/* --------------------------------------------- */

.img-icon-s-mini { height: .6em; }
.img-icon-s { height: .8em; }
.img-icon-s-big { height: 1em; }

.img-icon-m-mini { height: 1.3em; }
.img-icon-m { height: 1.5em; }
.img-icon-m-big { height: 1.8em; }

.img-icon-l-mini { height: 2em; }
.img-icon-l { height: 2.3em; }
.img-icon-l-big { height: 2.5em; }

.img-icon-xl-mini { height: 2.8em; }
.img-icon-xl { height: 3em; }
.img-icon-xl-big { height: 3.5em; }

/* --------------------------------------------- */
/* Img Clipart Sizes 
/* --------------------------------------------- */

.img-clipart-small { height: 4.5em; }

.img-clipart-medium { height: 6.5em; }

.img-clipart-big { height: 8.5em; }