/* 
    base-header-main-footer.css

    > define the base layout of the 
    base header , base main , base footer.

*/


/* ------------------------------------------------------------------------ */
/* Header | Base
/* ------------------------------------------------------------------------ */

#header-base {

    z-index: 99;

    position: fixed;
    left: 0;
    right: 0;
   

    /* mobile */
    height: 6em;


    /* desktop */ 
   

    display: flex;
    justify-content: center;

    /* sfd colors */
    background-color: var(--c-sfd-dark-anthracite);

    /* border-bottom: 3px solid var(--c-sfd-light-brown); */
   
}

/* -------------------------------------------------------------- */
/* Nav Header | Base 
/* -------------------------------------------------------------- */

#header-container-base {
 
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* width: 100%; */

    /* -------------------- */ 
    /* mobile  */
    /* -------------------- */ 

    /* -------------------- */ 
    /* desktop  */
    /* -------------------- */ 
 
    /* background-color: green; */

}





/* aufräumen */





/* -------------------------------------------------------------- */
/* List Label Panel | Base Header | 
/* > Radio Handling Part [2/2] 
/* -------------------------------------------------------------- */

/* default unshown radio circle buttons */
#radio-projects,
#radio-docs,
#radio-news,
#radio-about { display: none; }

/* default unshown black lbl img */
#lbl-radio-projects-base-header > img:nth-of-type(2),
#lbl-radio-docs-base-header > img:nth-of-type(2),
#lbl-radio-news-base-header > img:nth-of-type(2),
#lbl-radio-about-base-header > img:nth-of-type(2) {
    display: none;
}


/* ------------------------------------------------------- */
/* Hover - Handling [ 1 / 2 ]
/* ------------------------------------------------------- */

/* Hover show black img */
#nav-header-sfd > li:nth-of-type(1):hover > label:first-child > img:nth-of-type(2),
#nav-header-sfd > li:nth-of-type(3):hover > label:first-child > img:nth-of-type(2),
#nav-header-sfd > li:nth-of-type(5):hover > label:first-child > img:nth-of-type(2),
#nav-header-sfd > li:nth-of-type(7):hover > label:first-child > img:nth-of-type(2) {

    display: block;
}

/* Hover unshown grey img */
#nav-header-sfd > li:nth-of-type(1):hover > label:first-child > img:nth-of-type(1),
#nav-header-sfd > li:nth-of-type(3):hover > label:first-child > img:nth-of-type(1),
#nav-header-sfd > li:nth-of-type(5):hover > label:first-child > img:nth-of-type(1),
#nav-header-sfd > li:nth-of-type(7):hover > label:first-child > img:nth-of-type(1) {

    display: none;
}

/* ------------------------------------------------------- */
/* Checked - Handling [ 2 / 2 ]
/* ------------------------------------------------------- */

/* default radio checked */
#radio-projects:checked ~ #header-base #nav-header-sfd > li:nth-of-type(1) ,
#radio-docs:checked ~ #header-base #nav-header-sfd > li:nth-of-type(3),
#radio-news:checked ~ #header-base #nav-header-sfd > li:nth-of-type(5),
#radio-about:checked ~ #header-base #nav-header-sfd > li:nth-of-type(7){

    background-color: var(--c-sfd-light-brown);
    color: var(--c-cf-black);

}

/* default unshown grey img | if radio is checked */
#radio-projects:checked ~ #header-base #lbl-radio-projects-base-header > img:nth-of-type(1),
#radio-docs:checked ~ #header-base #lbl-radio-docs-base-header > img:nth-of-type(1),
#radio-news:checked ~ #header-base #lbl-radio-news-base-header > img:nth-of-type(1),
#radio-about:checked ~ #header-base #lbl-radio-about-base-header > img:nth-of-type(1) {

    display: none;

}
/* default show black img | if radio is checked */ 
#radio-projects:checked ~ #header-base #lbl-radio-projects-base-header > img:nth-of-type(2),
#radio-docs:checked ~ #header-base #lbl-radio-docs-base-header > img:nth-of-type(2),
#radio-news:checked ~ #header-base #lbl-radio-news-base-header > img:nth-of-type(2),
#radio-about:checked ~ #header-base #lbl-radio-about-base-header > img:nth-of-type(2) {

    display: block;

}

/* ------------------------------------------------------------------------ */
/* 02 - 03 | Base Main
/* ------------------------------------------------------------------------ */


#main-base {

    /* height: 100%;  */
    background-color: red;


    /* mobile */
    margin-top: 6em;
    

    /* desktop */
 
}





/* ------------------------------------------------------------------------ */
/* 03 - 03 | Base Footer
/* ------------------------------------------------------------------------ */

#base-footer-layout {

    padding: 2.8em .8em;

    display: flex;
    justify-content: center;

    /* align-self: flex-start; */

    /* height: 100%; */

    background-color: var(--c-sfd-dark-anthracite);
    color: var(--c-cf-white);
     
}

#base-footer-layout  > div:nth-of-type(1) {
 
    /* desktop version */
    
    /* width: 92em; */

    border: 0px 1px 0px 1px solid var(--c-cf-white);

    background-color: rgb(23, 75, 75);

    /* display: grid;
    grid: auto auto auto / 1fr;
    row-gap: 2em;
    align-self: flex-start; */

}




























/* Müll */
#links-panel-footer-sfd {

    width: 72em;

    /* background-color: rebeccapurple; */

    display: flex;
    align-self: flex-start;
    gap: 3em;
    flex-wrap: wrap;

}


.links-container-footer-sfd {

    border: 1px solid gainsboro;
    border-radius: .3em;

    padding: 1em;

}
