/*
    resp-sfd-default.css
  
    Respsonve Sets all my sfd default layouts
    for example header nav, ... .
    
*/



/* --------------------------------------------------------------------- */
/* >= 600px 
/* --------------------------------------------------------------------- */
@media ( max-width: 600px ) {


    /* ------------------------------------------------- */
    /* Header 
    /* ------------------------------------------------- */

    #mobile-open-close-nav-container-sfd {

        display: flex;
        align-items: center;
        column-gap: .3em;

       
    }

        /* ----------------------------------- */
        /* page setted info box  */
        /* ----------------------------------- */
        #page-setted-info-box-sfd {

                height: 3em;
                width: 3em;

                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: .4em;
                background-color: var(--c-sfd-light-brown);
                border: .2em solid var(--c-sfd-light-brown);

        }

        #page-setted-info-box-sfd img {

                height: 1.6em;
                padding-left: .1em;

        }

       
        /* ----------------------------------- */
        /* hamburger container                 */
        /* ----------------------------------- */

        /* default unshown checkbox icon element  */
        #chk-hamburger-nav-label { display: none; }
  
        #mobile-hamburger-nav-container-sfd {
            
            cursor: pointer;

            height: 3em;
            width: 3em;

            display: flex;
            align-items: center;
            justify-content: center;
        
            border-radius: .4em;
            border: .2em solid var(--c-sfd-light-grey);

            transition: all .3s;

        }

        #mobile-hamburger-line-box {

            display: grid;
            row-gap: .35em;

        }

        
        /* default mobile nav header label container  */
        #nav-header-page-label-container-sfd {

            position: absolute;
            top: 6em;
            left:0;
            right:0;

        
            padding: 2em 3em;
            
            opacity: 0;
            z-index: -1;

            display: grid;
            align-content: flex-start;

            row-gap: .6em;

            /* überlegung ob das sein muss ? es ist absolute & hat kein parent orientierungspunkt direkt 
            darf aber keine verticalle scrollbar erzeugen  */
            height: 100vh;

            background-color: var(--c-sfd-light-grey);

            transition: all .4s ease;
        }


        /* ------------------------------- */
        /* checked state                   */
        /* ------------------------------- */


        #chk-hamburger-nav-label:checked ~ #header-base #mobile-hamburger-nav-container-sfd {

            background-color: var(--c-sfd-red);
            border: .2em solid var(--c-sfd-red);
        }

        #chk-hamburger-nav-label:checked ~ #header-base #mobile-hamburger-nav-container-sfd .hamburger-line {

            background-color: var(--c-sfd-dark-white);

        }

        .hamburger-line {

            width: 1.8em;
            height: .3em;

            border-radius: .3em;
            background-color: var(--c-sfd-light-grey);

            transition: all .4s;

        }

        /* -------------------------------- */ 
        /* chreate animation  */
        /* -------------------------------- */ 
        #chk-hamburger-nav-label:checked ~ #header-base #mobile-hamburger-line-box > .hamburger-line:nth-of-type(1) {

            transform: translate(0, .7em) rotate(-45deg);

        }

        #chk-hamburger-nav-label:checked ~ #header-base #mobile-hamburger-line-box > .hamburger-line:nth-of-type(2) {
            
            opacity: 0;
        }

        #chk-hamburger-nav-label:checked ~ #header-base #mobile-hamburger-line-box > .hamburger-line:nth-of-type(3) {
            
            transform: translate(0, -.6em) rotate(45deg);
    
        }


        /* ---------------------------------------------------------- */ 
        /* show mobile page labels container                          */
        /* ---------------------------------------------------------- */ 
        #chk-hamburger-nav-label:checked ~ #header-base #nav-header-page-label-container-sfd {

            opacity: 1;
            z-index: 99;
           
           

        }

}



























/* -------------------------------------- */
/* li ( 1-layer )
/* -------------------------------------- */

.li-first-layer {

    cursor: pointer;
    height: 3em;
    width: 3em;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: .4em;
    border: 1px solid var(--c-sfd-light-grey);

    font-weight: bold;
    color: var(--c-sfd-light-grey);

}

.li-first-layer:hover {

    transition: .4s all ease;
    background-color: var(--c-sfd-light-brown); 
    color:var(--c-black);

}

/* -------------------------------------- */
/* label ( 1-layer )
/* -------------------------------------- */

.li-first-layer > label {

    cursor: pointer;

    /* stretch 100% in parent container li */
    width: 100%;
    height: 100%; 
    padding: 0em .8em;

    display: flex;
    align-items: center;
    column-gap: .6em;

}


/* -------------------------------------- */
/* img label ( 1-layer )
/* -------------------------------------- */

/*
    Info about img label: 
    > not every img label need 
    the same size to show it correctly 

*/

/* default img icon size of page nav panel  */
.img-icon-lbl-page-nav-panel {

    height: 1.4em;
}

/* img icon of docs & news  */
/* img-icon-lbl-docs-news-page-nav-panel */
.img-icon-lbl-docs-news-page-nav-panel {
    
    height: 1.25em;
}

/* optimize perfect pos of projects img icon */
.modify-pos-img-icon-lbl-projects-page-nav-panel {

    position: relative;
    top:.1em
}


/* -------------------------------------- */
/* li (1-layer) spacers 
/* -------------------------------------- */

.li-first-layer-spacers  {

    padding: 0em .3em;

    font-weight: bold;
    color: var(--c-cf-white);
    
}


















/* -------------------------------------------------------- */
/* Mobile Nav Open Header Container 
/* -------------------------------------------------------- */



#mobile-open-nav-header {


    position: fixed;
    top:6em;

    left: 0;
    right: 0;

  
    font-size: 1rem;

    background-color: green;
    background-color: var(--c-sfd-light-grey);

    /* background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
     */

    height: 100%;

    display: grid;
    align-content: flex-start;
    row-gap: 2.3em;

    /* align-content: space-between; */

    padding: 2em 2em;

}

#mobile-open-nav-container {

    /* height: 100%; */

   


    display: grid;
    
    align-content: flex-start;

    row-gap: .8em;
}



#mobile-open-nav-container input {

    display: none;
}

#mobile-open-nav-container img {

    height: 2em;
}

#mobile-open-nav-container > div {

    height: 4em;

    padding: 0em 1em;

    background-color: var(--c-sfd-dark-grey);
    color:var(--c-sfd-light-grey);
    color:rgb(187, 187, 187);

    font-weight: bold;

    border-radius: .4em;



    display: flex;
    align-items: center;
  
    /* justify-content: center; */

}

#mobile-open-nav-container > div > label {

    display: flex;
    align-items: center;
    column-gap: 1em;
}

#mobile-open-nav-container > div > label > div:first-of-type {

    /* background-color: green; */

    width: 2em;
    height: 100%;

    /* display: none; */

}

#mobile-open-nav-container > div:nth-of-type(1) {

    background-color: var(--c-sfd-light-brown);
    color:black;
}






#mobile-open-img-container {

    background-color: red;
    background-color: var(--c-sfd-dark-grey);
    border-radius: 50%;
    border-radius: .4em;
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(6em + 3vw);
    height: calc(6em + 3vw);

    /* opacity: .6; */
}

#mobile-open-img-container img {

    height: calc(4em + 6vw)
}

































