/*
    resp-sfd-default.css
  
    Respsonve Sets all my sfd default layouts
    for example header nav, ... .
    
*/



/* --------------------------------------------------------------------- */
/* >= 746px 
/* --------------------------------------------------------------------- */
@media ( max-width: 764px ) {


    /* --------------------------------------------------------------------------------------------------------------------------- */
    /* Header 
    /* --------------------------------------------------------------------------------------------------------------------------- */

        /* --------------------------------------------------------- */
        /* [1/3] - Company Logo 
        /* ----------------------------------------------------------*/

        /* --------------------------------------------------------- */
        /* [2/3] - Mobile | Header Nav Filter
        /* --------------------------------------------------------- */

        /* info , show in mobile & unshown in desktop  */

        /* --------------------------------------------------------- */
        /* [3/3] - Mobile/ Desktop | Header Nav
        /* --------------------------------------------------------- */
    
        /* info , mobile as open/close container & in desktop as button panel  */

        #chk-mobile-hamburger-menue-sfd:checked ~ #main-footer-base {

            overflow: hidden;
           /* position: absolute;
           left:-3em; */
        }
      

        #chk-mobile-hamburger-menue-sfd:checked ~ #resp-header-base #resp-header-nav-page-container-sfd {

            /* position: fixed; */
            z-index: 2;
            opacity: 1;
           /* opacity: .3; */
              
        }

    

     
      

      



}


































































































/* -------------------------------------- */
/* li ( 1-layer )
/* -------------------------------------- */

/* .li-first-layer {

    cursor: pointer;
    height: 3em;
    width: 3em;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: .4em;
    border: 1px solid var(--c-sfd-light-grey);

    font-weight: bold;
    color: var(--c-sfd-light-grey);

}

.li-first-layer:hover {

    transition: .4s all ease;
    background-color: var(--c-sfd-light-brown); 
    color:var(--c-black);

} */

/* -------------------------------------- */
/* label ( 1-layer )
/* -------------------------------------- */

/* .li-first-layer > label {

    cursor: pointer;

  
    width: 100%;
    height: 100%; 
    padding: 0em .8em;

    display: flex;
    align-items: center;
    column-gap: .6em;

}  */


/* -------------------------------------- */
/* img label ( 1-layer )
/* -------------------------------------- */

/*
    Info about img label: 
    > not every img label need 
    the same size to show it correctly 

*/

/* default img icon size of page nav panel  */
/* .img-icon-lbl-page-nav-panel {

    height: 1.4em;
} */

/* img icon of docs & news  */
/* img-icon-lbl-docs-news-page-nav-panel */
/* .img-icon-lbl-docs-news-page-nav-panel {
    
    height: 1.25em;
} */

/* optimize perfect pos of projects img icon */
/* .modify-pos-img-icon-lbl-projects-page-nav-panel {

    position: relative;
    top:.1em
} */


/* -------------------------------------- */
/* li (1-layer) spacers 
/* -------------------------------------- */
/* 
.li-first-layer-spacers  {

    padding: 0em .3em;

    font-weight: bold;
    color: var(--c-cf-white);
    
}
 */







































