/* 
    sfd-default-pages.css

    define styles which will default 
    use in my all web pages for example
    my header content page , ... .

*/


/* ------------------------------------------------------------------- */
/* Row Container | sfd 
/* ------------------------------------------------------------------- */

.page-container {

    /* to let all other child layout element grow max width  */
    width: 100%;
    display: grid;
    justify-items: center;
}

.page-content-container {

    width: 88%;
}

.page-content-layout {

    display: grid;
    padding: 1.6em 1.3em;
    background-color: var(--c-cf-white);


}



/* ------------------------------------------------------------------- */
/* Header Content Page | Container 
/* ------------------------------------------------------------------- */

.header-content-page-container {

    width: 100%;
    display: flex;
    justify-content: center;  

    background-color: var(--c-sfd-dark-anthracite);

}

.header-content-page-container img {

    height: 2.3em;
}

.header-content-page-layout {

    padding: .5em 0em 1.3em 0em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--c-sfd-dark-anthracite);

    background-color: red;

}


.title-area-header-page {

    display: flex;
    column-gap: 1em;
    align-items: center;
    
}

.title-area-header-page  > div:nth-of-type(1) > div:nth-of-type(1) {

    color:rgb(227, 227, 227);

    font-size: 18px;
    font-weight: bold;
}

.title-area-header-page > div:nth-of-type(1) > div:nth-of-type(2) {
   
    font-size: 14.5px;
    line-height: 1.4em;
    color: var(--c-sfd-light-grey);
}





/* ------------------------------------------------------------------- */
/* File Counter | Container | sfd 
/* ------------------------------------------------------------------- */

.file-counter-container {

    line-height: 1.3em;
   
    font-size: 14.5px;

    color: var(--c-sfd-light-brown);
    opacity: .6;

}

.file-counter-container > div {

    display: flex;
    align-items: center;
    
}

.file-counter-container > div > div:nth-of-type(1) {

    width: 2.3em;

}





/* ------------------------------------------------------------------- */
/* Filter Content Page Panel  | sfd 
/* ------------------------------------------------------------------- */

.filter-content-page-panel-sfd {

    z-index: 11;

    position: relative;
    top:0;

    height: 3.5em;

    display: flex;
    align-items: center;
    column-gap: .3em;

    /* background-color: red; */
    padding-bottom: 1.6em;
    border-bottom: 3px solid var(--c-sfd-dark-white);

}

/* ----------------------------------------------- */
/* Info Filtered Page Content Container 
/* ----------------------------------------------- */

.info-filtered-page-content-container {

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.title-area-info-filtered {

    height: 100%;
    width: 100%;
    
    display: grid;
    align-items: center;

    padding: 0 1em;

    line-height: 1.2em;

    border-radius: .4em 0em 0em .4em;
    background-color: var(--c-sfd-dark-anthracite);

}

.title-area-info-filtered > div:nth-of-type(1) > div:nth-of-type(1) {

    padding-top: .1em;
    font-weight: bold;
    color: var(--c-cf-white);
}

.title-area-info-filtered > div:nth-of-type(1) > div:nth-of-type(2) {

    font-size: 12.5px;
    font-style: italic;
    color: var(--c-sfd-light-grey);
}

.img-container-info-filtered {

    height: 100%;
    width: 5em;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0em .4em .4em 0em;
    background-color: var(--c-sfd-dark-anthracite);

}

.img-container-info-filtered > img {

    height: 1.6em;
}

/* ----------------------------------------------- */
/* Label | Open Filter Content Page 
/* ----------------------------------------------- */

.lbl-open-filter-nav-content-page-container  {

    height: 3.1em;
    width: 4em;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    border-radius: .4em;
    border: .2em solid var(--c-sfd-light-grey);

    /* opacity: .6; */

    transition: all .4s;

}

.lbl-open-filter-nav-content-page-container > img {

    height: 1.3em;
}


/* ---------------------------------------------------------------- */
/* Nav Container | List of Filtered Content Page ( absolute )
/* ---------------------------------------------------------------- */

.nav-container-list-of-filtered-content-page {

      /* z-index: 11; */
      z-index: -1;

      position: absolute;
      top:0em;
      left:0;
      right: 0;
  
      padding: 1.6em 2em;

      display: grid;
    
      row-gap: 1em;
  
     
      border-radius: .4em;
  
      background-color: transparent;
  
      transition: all .4s;

}


/* -------------------------------------------------------- */
/* Label to Filter Content Page ( Radio )
/* -------------------------------------------------------- */

.lbl-filtered-content-page {

    height: 3.5em;
    padding: 0em 1em;
   
    display: flex;
    column-gap: .8em;
    align-items: center;
    justify-content: space-between;

    border-radius: .4em;

    background-color: var(--c-sfd-dark-grey);
    color:var(--c-sfd-very-light-grey);
 
    display: none;
   
}

.lbl-filtered-content-page > img {

    height: 1.5em;
}

/* -------------------------------------------------- */
/* Double Title Area Container 
/* -------------------------------------------------- */

.double-title-area-container {

    line-height: 1.2em;
}


.double-title-area-container > div:nth-of-type(1) {

    padding-top: .2em;
    font-weight: bold;
    color: var(--c-cf-white);
}

.double-title-area-container > div:nth-of-type(2) {

    font-size: 12.5px;
    font-style: italic;
    color: var(--c-sfd-light-grey);
}












/* ------------------------------------------------------------------- */
/* Content Page Container | sfd 
/* ------------------------------------------------------------------- */

.content-page-container-sfd {

    display: grid;

    padding: 1.6em 1.3em;
    background-color: var(--c-cf-white);

}




/* ------------------------------------------------------------------- */
/* Header Content Page | Container | sfd 
/* ------------------------------------------------------------------- */

.header-content-page-container-sfd {

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1em 1.6em;

    font-size: 17.2px;

    font-weight: bold;

    border-radius: .4em;
    margin: 0em 1em;

    background-color: var(--c-sfd-dark-anthracite);
    color: var(--c-sfd-very-light-grey);

}

.sub-header-content-page-container-sfd {

    padding-top: .5em;

    font-size: 14.5px;

    line-height: 1.5em;

    color:var(--c-sfd-light-grey);
    
}

.sub-single-line-header-content-page-container-sfd {
   
    padding-top: .2em;

    font-size: 14.5px;

    line-height: 1.3em;

    color:var(--c-sfd-light-grey);
}






/* ------------------------------------------------------------------- */
/* Under Production Info Container | sfd 
/* ------------------------------------------------------------------- */

.under-production-info-container {

    z-index: 11;

    height: 6.5em;

    position: absolute;
    top:6em;
    left:1.5em;
    right:1.5em;

    display: flex;
    column-gap: 1.5em;
    align-items: center;
    justify-content: center;
    
    padding: 1.3em;

    border-radius: .4em;
    font-weight: bold;

    background-color: var(--c-sfd-dark-grey);

    background-color: rgba(52, 52, 52, 0.9);
   
    color: rgba(252,237,13,255);
    
}

.under-production-info-container img {

    height: 4.5em;
}
















/* ------------------------------------------------------------------- */
/* Tab Switching Content Container | sfd 
/* ------------------------------------------------------------------- */

/* #resp-news-tab-switching-content-container  */

.tab-switching-panel {

    display: flex;
    flex-wrap: wrap;

    gap: .6em;
    align-items: center;
 
    padding-bottom: 1.6em;
    border-bottom: 3px solid var(--c-sfd-dark-white);
}


.lbl-tab-switching-item {

    height: 2.5em;

    display: flex;
    column-gap: .3em;
    align-items: center;

    padding: 0em .6em;

    font-weight: bold;
    border-radius: .4em;
    background-color: var(--c-sfd-very-light-grey);
    color: var(--c-sfd-dark-anthracite);

}

.setted-tab {

    background-color: var(--c-sfd-dark-anthracite);
    color: var(--c-sfd-very-light-grey);
}

.lbl-tab-switching-item > img {

    height: 1em;
    display: none;
}











/* ------------------------------------------------------ */
/* Seperator Content Container
/* ------------------------------------------------------ */

.seperator-content-container {

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2.8em 0em;
}

.seperator-content-container > img {

    height: 1.5em;
}










/* ---------------------------------------- */
/* Müll | unten 
/* ---------------------------------------- */


.row-page-container {

    padding: 2.3em 1.6em;
}

.row-content-width-sfd {

    /* mobile */
    width: 100%;

    /* desktop  */
    /* width: 82em;
    height: 24em;

    padding: 0; */
 
}

.row-content-default-sfd {

    padding: 1.3em 1.6em;

}


/* ---------------------------------------- */
/* Müll | oben
/* ---------------------------------------- */








/* ------------------------------------------------------------------- */
/* Page | Header 
/* ------------------------------------------------------------------- */

.page-header-sfd {

    background-color: var(--c-sfd-dark-anthracite);

    padding: 1em 1.8em;

}

.title-page-header-sfd {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.title-page-header-sfd img {

    height: 2.3em;
}

.title-page-header-sfd > div:nth-of-type(1) {
 
    line-height: 1.4em;

}

.title-page-header-sfd > div:nth-of-type(1) > div:nth-of-type(1) {

    color: var(--c-cf-white);
    font-weight: bold;
    font-size: 1.3em;

}

.title-page-header-sfd > div:nth-of-type(1) > div:nth-of-type(2) {

    color: var(--c-sfd-light-grey);
    font-size: 14.5px;

}



/* ----------------------------------------------------- */
/* Filter Content Page Header 
/* ----------------------------------------------------- */

.filter-content-page-header {

    height: 4em;

    display: flex;
    column-gap: .3em;
    align-items: center;
    justify-content: space-between;

}




.page-content-header-sfd {

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--c-sfd-dark-anthracite);
    border-radius: .4em;

}

.page-content-title-header-sfd {

    padding: 0em .6em;

    line-height: 1.2em;

}

.page-content-title-header-sfd > div:nth-of-type(1) {

    color: var(--c-cf-white);
    font-size: 16px;
    font-weight: bold;
    padding-left: .4em;
}

.page-content-title-header-sfd > div:nth-of-type(2) {

    color: var(--c-sfd-light-grey);
    font-size: 14.5px;
    padding-left: .4em;
}



.page-content-header-sfd > div:nth-of-type(2) {

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 4em;

    background-color: var(--c-sfd-light-grey);

    border-radius: 0em .4em .4em 0em;
}

.page-content-header-sfd > div:nth-of-type(2) > img {

    height: 1.8em;
}


.filter-nav-page-content {

    display: flex;
    align-items: center;
}


















#just-for-fun-audio-container {

    display: grid;
    row-gap: 1.3em;
    background-color: green;
}


#just-for-fun-audio-container > audio {

    width: 100%;
}