/*

    my-business-card.css

    > define the layout of my business card ( tech skills ) on the about page

*/

/* ---------------------------------------------------------------------- */
/* My Business Card 
/* ---------------------------------------------------------------------- */

#my-business-card-sfd {

    background-color: var(--c-cf-white);
    /* background-color: red; */

    /* mobile */
    display: grid;

    /* desktop  */
}



/* ---------------------------------------------------------------------------------------------- */
/* Container | Img Me & Contact Me 
/* ---------------------------------------------------------------------------------------------- */

#img-about-me-contact-me-container-sfd {

    /* mobile */
    padding: 0em 0em;

    display: grid;
    row-gap: .3em;
    justify-items: center;

    /* allow child layout elements to grow max width  */
    width: 100%;
    

    /* desktop */

}

/* ---------------------------------------------- */
/* Box | Img About Me 
/* ---------------------------------------------- */

#box-img-about-me-container {

    display: flex;
    align-items: center;
    justify-content: center;

    column-gap: 1em;

}

#img-about-brace-open,
#img-about-brace-close {

    height: 2.3em;
    opacity: 1;
}

#img-about-brace-open {

    transform: scaleX(-1);
   
}

#img-about-brace-close {

    transform: scaleX(1);

}

#img-about-me {

    /* mobile */
    border-radius: .8em;
    height: 12em;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */

    /* desktop */
}

/* ---------------------------------------------- */
/* Box | Contact Me 
/* ---------------------------------------------- */

#box-contact-me-container {

    width: 75%;

}

/* ---------------------------------------------------------------------------------------------- */
/* Container | Jumping About Link Buttons
/* ---------------------------------------------------------------------------------------------- */

#my-jumping-about-link-button-container-sfd {

    padding: .3em 0em 4em 0em;

    display: grid;
    justify-items: center;

    row-gap: 1em;

    /* allow child layout element to grow max width  */
    width: 100%;

}

#my-jumping-about-link-button-container-sfd > a {

    width: 75%;
}



/* ---------------------------------------------------------------------------------------------- */
/* Container | My Tech Skills 
/* ---------------------------------------------------------------------------------------------- */

#my-tech-skills-container-sfd {

   background-color: var(--c-cf-white);
   /* background-color: red; */
   
   display: grid;
   row-gap: 2em;

   /* mobile  */
   padding: 2em 0em 1em 0em;

    /* desktop */
  
}

/* ---------------------------------------------------------------------------------------------- */
/* Header | My Tech Skills 
/* ---------------------------------------------------------------------------------------------- */

.title-new-header {

    font-size: 18px;
    font-weight: bold;
}

.new-header {


    padding: 1.6em 1.8em;
    background-color: var(--c-sfd-dark-anthracite);
    
    color:rgb(48, 48, 48);
    color:rgb(227, 227, 227);

    display: flex;
    align-items: center;
    justify-content: space-between;
   
}


.title-new-header {

    font-size: 18px;
    font-weight: bold;
}



/* ---------------------------------------------------------------------------------------------- */
/* Content Container | My Tech Skills 
/* ---------------------------------------------------------------------------------------------- */

#my-content-tech-skills-container {
    
    /* background-color: blueviolet; */
    
    display: grid;
    row-gap: 2em;

    padding: 2em 0em;
}

/* -------------------------------------------------------------------- */
/*  Box | My Tech Skill
/* -------------------------------------------------------------------- */

.box-my-tech-skills-sfd {

    display: grid;
    row-gap: 2em;

    padding: 0em 1.6em;
   
}

/* -------------------------------------------------------------------- */
/* Header | My Tech Skills
/* -------------------------------------------------------------------- */

.box-header-my-tech-skills-sfd {

    display: flex;
    align-items: center;
    column-gap: 1em;

}

.img-info-header-tech-skill-box {

    width: 3.3em;
    height: 3.3em;

    border-radius: .4em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--c-sfd-dark-grey);
    background-color: var(--c-sfd-dark-anthracite);

}

.img-info-header-tech-skill-box > img {

    width: 1.6em;
}

.title-area-header-tech-skill-box  {

    padding-top: .1em;
    line-height: 1.3em;

}

.title-header-tech-skill-box {

    font-weight: bold;
    font-size: 1.2em;

}

.sub-title-header-tech-skill-box {

    line-height: 1.2em;

    font-size: .9em;
    color: var(--c-sfd-light-grey);

}

/* -------------------------------------------------------------------- */
/* Content | My Tech Skills
/* -------------------------------------------------------------------- */

.box-content-my-tech-skills-sfd {

    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: .4em;
    
}

.my-tech-skill-item {

    cursor: pointer;

    height: 2em;
    padding: .3em .6em;
   
    display: flex;
    align-items: center;
    column-gap: .6em;

    font-size: 14.5px;

    border-radius: .4em;
    border: 1px solid rgba(69, 70, 70, .1);
    color: var(--c-sfd-dark-grey);
    font-weight: bold;

    transition: all .3s;
}

.my-tech-skill-item:hover {

    background-color: rgba(69, 70, 70, .3);

}

.my-tech-skill-item > img {

    height: 1.5em;
}

/* ------------------------------- */
/* Special Images 
/* ------------------------------- */

#img-tech-skill-apache {

    padding-top: 7px;
    /* width: .9em; */
}

#img-tech-skill-maven {

    height: 1em;

}





