/*

    my-quote.css

    > define the layout of my quote about container

*/

/* ---------------------------------------------------------------------- */
/* My Quote
/* ---------------------------------------------------------------------- */

#my-quote-sfd {

    position: relative;
    top:0;

    display: flex;
    align-items: center;
    justify-content: center;

    /* mobile  */
    height: 12em;
    padding: 0em 1.6em;
       
    /* desktop */
  

}

#my-quote-container-sfd {

    position: relative;
    top:0;

    z-index: 1;

    display: grid;
    justify-items: center;
    row-gap: 1em;
}

#my-quote-element {

    

    /* position: relative;
    bottom:.8em; */

    width: 16em;
    padding: .6em .6em;

    border-radius: .4em;

    /* blockquote  */
    text-align: center;
    font-weight: bold;
    font-style: italic;

    background-color: rgba(33, 33, 33, .8);
    color:rgb(204, 204, 204);

}

.lbl-movie {

    z-index: 1;

    /* position: absolute;
    bottom: .6em; */

    border-radius: 50%;

    width: 3em;
    height: 3em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(33, 33, 33, .8);

    transition: all .4s;

}

#img-arrow-down {

    height: 3px;
    display: block;
    
}


/* checked handling muss überarbeitet werden  */
#chk-about-open-movie-container:checked ~ #main-footer-base #lbl-chk-about-open-movie-container {

    background-color: var(--c-sfd-red);
}


/* #background-img  */
#my-quote-sfd img {

    z-index: 0;

    position: absolute;
    top:0em;

    /* combi to stretch absolute img width 100%  */
    left:0;
    right:0;

    height: 100%;
    width: 100%;

    /* height: 22em; */
    /* width: 100%; */
   
   

}
