/*

    my-quote.css

    > define the layout of my quote about container

*/

/* ---------------------------------------------------------------------- */
/* My Quote
/* ---------------------------------------------------------------------- */

#my-quote-sfd {

    /* background-color: var(--c-sfd-dark-anthracite); */
    
    position: relative;
    top:0;
  
    /* width: 100%; */
    /* height: 12em; */

    display: grid;
    grid: 12em auto / 1fr;

    align-items: flex-start;
    justify-items: center;
   
    
   

    transition: all .4s;

}

/* ----------------------------------------------------- */
/* Background Image - Silicon Valley
/* ----------------------------------------------------- */

#img-background-silicon-valley {

    z-index: 1;

    position: absolute;
    top:0em;

    /* combi to stretch absolute img width 100%  */
    left:0;
    right:0;

    width: 100%;
    height: 12em;

    /* display: none; */


}

/* ----------------------------------------- */
/* My Quote Handle Container
/* ----------------------------------------- */
#my-quote-handle-container {

    z-index: 2;

    position: relative;
    top: 2.3em;

    /* parent of quote element & label  */
    width: 100%;
 
    display: grid;
    row-gap: .6em; 

    justify-items: center;
   
   
    

}


/* ----------------------------------------- */
/* My Quote Element 
/* ----------------------------------------- */

#my-quote-element {

    width: 16em;
    padding: .6em .6em;
    border-radius: .4em;

    /* blockquote  */
    text-align: center;
    font-weight: 500;
    font-style: italic;

    background-color: rgba(33, 33, 33, .8);
    color:rgb(197, 197, 197);

    /* display: none; */

}

/* ----------------------------------------- */
/* Label to open Video View
/* ----------------------------------------- */

#lbl-open-my-quote-video-container {

    border-radius: 50%;

    width: 3em;
    height: 3em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(33, 33, 33, .8);

    transition: all .4s;

    /* display: none; */

}

#lbl-open-my-quote-video-container img {

    padding-top: .2em;
    height: 1.1em;
    opacity: .8;

}

/* ----------------------------------------------------- */
/* Checkbox Handling - Open Movie Contianer 
/* ----------------------------------------------------- */

/* ------------------------------------- */
/* Checkbox Label Style                  */
/* ------------------------------------- */
#chk-about-open-video-container:checked ~ #main-footer-base #lbl-open-my-quote-video-container {

    background-color: var(--c-sfd-red);
}

#chk-about-open-video-container:checked ~ #main-footer-base #lbl-open-my-quote-video-container > img {

    transform: rotate(180deg);
}

/* ------------------------------------------------------ */ 
/* Handling Video Container                               */
/* ------------------------------------------------------ */ 

/* my quote container  */
#chk-about-open-video-container:checked ~ #main-footer-base #my-quote-sfd {

    grid: 12em auto / 1fr;
}

/* video container  */
#chk-about-open-video-container:checked ~ #main-footer-base #my-quote-video-container {

  height: 14em;
   
}

/* video tag  */
#chk-about-open-video-container:checked ~ #main-footer-base #my-quote-video-container > video {

   /* height: 14em; */
   /* height: 12em; */
   /* width: 100%; */
   height: auto;
   
}


/* ----------------------------------------------------- */
/* My Quote Video Container  
/* ----------------------------------------------------- */

#my-quote-video-container {

    background-color: var(--c-sfd-dark-anthracite);

    z-index: 0;

    height: 0em;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: green; */
    transition: all .4s;

    /* display: none; */

}

#my-quote-video-container > video {

    width: 90%;
    height: 0em;

}








