
/*

   my-top-3-projects.css

    > define the layout of my top 3 projects container on the about page

*/

/* ---------------------------------------------------------------------------------------------- */
/* My top 3 Projects 
/* ---------------------------------------------------------------------------------------------- */

#my-top-3-projects-sfd {

    background-color: var(--c-cf-white);

    /* mobile  */

    display: grid;
    row-gap: 3.3em;

    

}

/* -------------------------------------------------------- */
/* Project Card Container 
/* -------------------------------------------------------- */

.project-card-my-top-3 {

    display: grid;
    /* row-gap: 1.3em; */

    padding: 2.3em 1.6em;
}


/* -------------------------------------------------------- */
/* Header - Project Card 
/* -------------------------------------------------------- */

.header-project-card {

   

}


.mini-tech-skills-panel {

    padding: .8em 0em;

    display: flex;
    flex-wrap: wrap;

    align-items: center;
    gap: .3em;
}


.small-tech-skill-item-sfd {

    font-size: 12.5px;

    color: var(--c-sfd-dark-grey);

    opacity: .6;

    padding: 0em .6em;
    border-radius: .4em;
    background-color: var(--c-sfd-very-light-grey);

}

.info-box-my-top-3-nr {

    float:right;

    /* margin-top: .3em; */
    /* margin-left: .1em; */
    /* margin-bottom: 1em; */


    width: 2.5em;
    height: 2.5em;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: .4em;

    opacity: .8;

    font-size: 18px;
    font-weight: bold;
    background-color: var(--c-sfd-very-light-grey);
    background-color: var(--c-sfd-dark-anthracite);

    color: var(--c-sfd-dark-grey);
    color:var(--c-sfd-very-light-grey)
}


/* -------------------------------------------------------- */
/* Img Container - Project Card 
/* -------------------------------------------------------- */

.img-container-project-card > img {


    width: 100%;
    /* height: 16em; */

    border-radius: .4em;
    
}


.img-mini-panbel-project-card {


    height: 5em;
    /* padding: 0em 1em; */
   

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border-radius: .4em;
    /* background-color: rgba(41, 41, 41, .1); */
}

.img-mini-panbel-project-card > div {

    display: flex;
    align-items: center;
    justify-content: center;

    /* height: 4em;
    width: 4em; */
}

.img-mini-panbel-project-card > div > img {

    height: 3em;
    border-radius: .3em;
    opacity: .3;
}

/* -------------------------------------------------------- */
/* Detail Container - Project Card 
/* -------------------------------------------------------- */

.details-container-project-card {

    display: grid;
    row-gap: 4em;
    
}




