
/*

   my-top-3-projects.css

    > define the layout of my top 3 projects container on the about page

*/

/* ---------------------------------------------------------------------------------------------- */
/* My top 3 Projects 
/* ---------------------------------------------------------------------------------------------- */

#my-top-3-projects-sfd {

    background-color: var(--c-cf-white);

    /* mobile  */

    display: grid;
    row-gap: 2em;

}

