/* 
    sfd-txt-media-content-container.css

    define all layouts which belong to add an text media content container.
    In an text media content container u put ur text , images , videos ,
    your h1,h2,h3, small header and different link types.

    Nice to know: 
    --------------------------------------------

    Default: h1 - h3 Defintions of w3c

    - h1 : 32px , Margin-Top-Bottom: 21,44px
    - h2 : 24px , Margin-Top-Bottom: 19,92px
    - h3 : 18,72px , Margin-Top-Bottom: 18,72px

*/


/* ---------------------------------------------------------------------------------- */
/*  [light/dark] sfd txt media content container
/* ---------------------------------------------------------------------------------- */

/* default light, dark */
.dark-txt-media-sfd-content-container,
.light-txt-media-sfd-content-container {

    display: grid;
    row-gap: 2.3em;

    font-size: 1.2em;
    line-height: 1.8em;

}

/* dark txt media sfd */
.dark-txt-media-sfd-content-container .h2-h3-sfd-container,
.dark-txt-media-sfd-content-container .small-header-sfd-container {

    color:#d9bf98;
}

/* dark h1 content container */
.dark-txt-media-sfd-content-container .h1-sfd-content-container {

    color:#d9d9d9;
}

/* light txt media sfd */
.light-txt-media-sfd-content-container .h2-h3-sfd-container,
.light-txt-media-sfd-content-container .small-header-sfd-container,
.light-txt-media-sfd-content-container .h1-sfd-content-container {

    color:black;
}



/* modify h1,h2,h3 inside txt media content container  */ 
.h1-dark-sfd-container h1, 
.h1-light-sfd-container h1,
.h2-h3-sfd-container h2, 
.h2-h3-sfd-container h3 {

    /* unset default h1-h3 margins */
    margin:0em;

}

/* sfd header containers  */
.h1-dark-sfd-container,
.h1-light-sfd-container,
.h2-h3-sfd-container,
.small-header-sfd-container {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.h1-dark-sfd-container,
.h1-light-sfd-container {

    height: 4em;
    padding: 0em 0em 0em 1.3em;
    margin-bottom: 2.3em;

    border-radius: .3em;

    cursor: pointer;
    transition: .3s all;
}

/* h1 dark container */
.h1-dark-sfd-container {

    background-color: #d9bf98;
    color:black;
   
}

/* h1 light container */
.h1-light-sfd-container {

    background-color: #212121;
    color:white;

}

.h1-dark-sfd-container:hover,
.h1-light-sfd-container:hover {

    background-color:#7b7d7d;
    color:black;
}

/* default h1 light / dark showMoreLess */
.h1-showMoreLess-sfd-container {

    height: 100%;
    width: 8em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color:#7b7d7d;

    border-radius: 0em .3em .3em 0em;
}

/* default h2 , h3 container */
.h2-h3-sfd-container {

    padding-bottom: 1.3em;

}

/* default short info header */
.small-header-sfd-container {
    
    padding-bottom: 1.5em;

}

.h2-h3-sfd-container h2 ,
.h2-h3-sfd-container h3 ,
.small-header-sfd-container > div:first-child > div:first-child {

    font-weight: bold;
}

/* default h1 content container  */
/* ( topics of h1 row spaces ) */
.h1-sfd-content-container {

    display: grid;
    row-gap: 2em;

    /* border: 1px solid red; */
    padding-left: .6em;

}


/* ---------------------------------------------------------------- */
/* label show more / show less 
/* ---------------------------------------------------------------- */

/* h1 lbl show more / less  */



/* ---------------------------------------------------------------------------------- */
/*  sfd txt media content icon
/* ---------------------------------------------------------------------------------- */

.img-icon-txt-media {

    width: .8em;
}

.img-icon-h1-txt-media {

    width: 1.4em;
}

/* ---------------------------------------------------------------------------------- */
/* [show more / show less] - sfd label 
/* ---------------------------------------------------------------------------------- */

/* default  */
.lbl-dark-showMoreLess-sfd-container,
.lbl-light-showMoreLess-sfd-container {

    padding: 0em 0em;
    border-radius: .3em;

    width: 7.6em;

    display: flex;
    align-items: center;
    justify-content: center;   

    column-gap: .6em;

    font-weight: bold;

    background-color:#7b7d7d;
    color:black;

    transition: .3s all;

    cursor: pointer;
    transition: .3s all;


}

.lbl-dark-showMoreLess-sfd-container:hover,
.lbl-light-showMoreLess-sfd-container:hover {

    background-color:#bfbfbf;
    color:black;

}

/* dark style is setted by checkbox */
/* .is-checked */
.lbl-dark-showMoreLess-sfd-container {

    /* background-color: #212121;
    color:rgb(217, 217, 217); */

}

/* light style is setted by checkbox*/
.lbl-light-showMoreLess-sfd-container  {


}

/* label is checked */
.lbl-showMoreLess-isChecked-sfd-container {

    background-color: #7b0e0e;
    /* color:rgb(188, 188, 188); */
    color: #bfbfbf;
}



/* ---------------------------------------------------------------------------------- */
/* different sfd link styles [ das muss weg überarbeitet werden ]
/* ---------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------- */
/* Label | Read Text / Stop Audio 
/* ---------------------------------------------------------------------------------- */

.lbl-read-text-audio {

    padding: 0em .3em;
    width: 6.3em;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .6em;

    color:#7b7d7d;

    border-radius: .3em;
    
    transition: .3s all;
    cursor: pointer;
}

.lbl-read-text-audio:hover {

    /* font-weight: bold; */
    text-decoration: underline;
}


/* js css classes to handle dynmaic style  */

.lbl-read-text-audio-checked {

    background-color: #7b0e0e;
    color: #bfbfbf;

}

.lbl-read-text-audio-no-checked {

    background-color: transparent;
    color:#7b7d7d;
}




/* default */
.link-black-sfd,
.link-light-brown-sfd,
.link-light-grey-sfd,
.link-bold-light-brown-sfd {

    cursor: pointer; 
   
}

.link-black-sfd:hover,
.link-light-brown-sfd:hover,
.link-light-grey-sfd:hover,
.link-bold-light-brown-sfd:hover {

    text-decoration: underline;
    font-weight: bold;

}

/* link black */
.link-black-sfd {

    color:black;

}

/* link light brown */
.link-light-brown-sfd,
.link-bold-light-brown-sfd {

    color:#d9bf98;
}

/* link bold light brown  */
.link-bold-light-brown-sfd {

    font-weight: bold;
}

/* link light grey */
.link-light-grey-sfd {

    color: #7b7d7d;
}



