/*

    my-business-card.css

    > define the layout of my business card ( tech skills ) on the about page

*/

/* ---------------------------------------------------------------------- */
/* My Business Card 
/* ---------------------------------------------------------------------- */


#my-business-card-sfd {

    background-color: var(--c-cf-white);

    /* mobile */
    display: grid;

    /* desktop  */
}




/* ---------------------------------------------------------------------------------------------- */
/* Container | My Tech Skills 
/* ---------------------------------------------------------------------------------------------- */

#my-tech-skills-sfd {

    /* z-index: 1; */
   

    /* mobile  */
    padding: 2.5em 1.6em;
    /* background-color: red; */

    display: grid;
    row-gap: 2em;
    
    
}


/* ---------------------------------------------------------------------------------------------- */
/* Box | My Tech Skills 
/* ---------------------------------------------------------------------------------------------- */

.my-tech-skill-box {

    display: grid;
    row-gap: 2em;
   
}

/* ---------------------------------------------------------------------------------------------- */
/* Header | My Tech Skills 
/* ---------------------------------------------------------------------------------------------- */

.my-tech-skill-box-header {

    display: flex;
    align-items: center;
    column-gap: 1em;

}

.my-tech-skill-info-box {

    width: 3.3em;
    height: 3.3em;

    border-radius: .4em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--c-sfd-dark-grey);
}

.my-tech-skill-info-box > img {

    width: 1.6em;
}

.my-tech-skill-title-header {

    padding-top: .1em;
    line-height: 1.3em;

}


.my-sub-header-my-tech-skill {

    font-size: .9em;
    color: var(--c-sfd-light-grey);
}

.my-main-header-my-tech-skill {

    font-weight: bold;
    font-size: 1.2em;

}

/* ---------------------------------------------------------------------------------------------- */
/* Content | My Tech Skills 
/* ---------------------------------------------------------------------------------------------- */


.my-tech-skill-box-content {

    display: flex;
    align-items: center;
    column-gap: .4em;
    row-gap: .4em;
    flex-wrap: wrap;

}

.my-tech-skill-item {

    cursor: pointer;

    border-radius: .4em;
    /* background-color: var(--c-sfd-dark-grey);#454646 */

    border: 3px solid rgba(69, 70, 70, .1);

    display: flex;
    align-items: center;
    column-gap: .6em;

    height: 2em;
    padding: .3em .6em;

    color: var(--c-sfd-dark-white);
    color: var(--c-sfd-dark-grey);

    font-weight: bold;

    transition: all .3s;
}

.my-tech-skill-item:hover {

    background-color: rgba(69, 70, 70, .3);

}

.my-tech-skill-item > img {

    height: 1.5em;
}

#img-tech-skill-apache {

    padding-top: 7px;
    /* width: .9em; */
}

#img-tech-skill-maven {

    height: 1em;

}

/* ---------------------------------------------------------------------------------------------- */
/* Container | my contact me & jumping read container 
/* ---------------------------------------------------------------------------------------------- */

#my-contact-me-container {

    background-color: var(--c-sfd-dark-anthracite);

    /* mobile */
    display: grid;

    /* items center  */
    justify-items: center;
    /* middle  */
    align-content: center;

    row-gap: 2.3em;

    /* height: 22em; */
    padding: 3em 1.6em;

    /* desktop */

}



/* ---------------------------------------------- */
/* Container | Img About Me 
/* ---------------------------------------------- */

#img-about-me-container {

    display: flex;
    align-items: center;
    column-gap: 1em;

}

#img-about-brace-open,
#img-about-brace-close {

    height: 4.5em;
    opacity: .3;
}

#img-about-brace-open {

    transform: scaleX(-1);
   
}

#img-about-brace-close {

    transform: scaleX(1);

}

#img-about-me {

    /* mobile */
    border-radius: .4em;
    height: 14em;

    /* desktop */
}




/* ---------------------------------------------- */
/* Container | Contact Me & Jumping 
/* ---------------------------------------------- */

#contact-me-jumping-container {

    display: grid;
    row-gap: 2em;

    width: 85%;


}

#link-contact-me,
#jumping-link-read-more-about-me {

    height: 3.5em;
    border-radius: .4em;

    display: flex;
    align-items: center;
   
}

/* -------------------------------------------- */
/* Link | Contact Me 
/* -------------------------------------------- */

/* contact-superfreshdev */
/* superfreshdev  */
/* projects-superfreshdev */

#link-contact-me {

    background-color: var(--c-sfd-light-brown);

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: all .4s;

}

#link-contact-me:hover {

    background-color: var(--c-sfd-light-grey);
    
}

#link-contact-me-text-layout {

    display: flex;
    align-items: center;
    column-gap: 1em;
    
}

#link-contact-me-text-layout > div:nth-of-type(1) {

    height: 3.5em;
    width: 4em;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: .4em 0em 0em .4em;
    background-color: var(--c-sfd-light-grey);
   
}

#link-contact-me-text-layout > div:nth-of-type(1) > img {

    height: 1.5em;
}

#link-contact-me-text-layout > div:nth-of-type(2) {


    line-height: 1.2em;

    display: grid;
    align-items: center;

}

#link-contact-me-text-layout > div:nth-of-type(2) > div:nth-of-type(1) {

    font-size: 18px;
    font-weight: bold;
}

#link-contact-me-text-layout > div:nth-of-type(2) > div:nth-of-type(2) {
    
}


/* -------------------------------------------- */
/* Link | Read More About Me
/* -------------------------------------------- */

#jumping-link-read-more-about-me {

    background-color: yellow;

}



/* ---------------------------------------------------------------------------------------------- */
/* Müll | Kann weg !!!!
/* ---------------------------------------------------------------------------------------------- */



#row-my-business-card-container  {

    background-color: var(--c-cf-white);

    padding: 3em 0em;
}




/* ---------------------------------------------------------- */
/* 2 / 3 | Tech Skill | Container 
/* ---------------------------------------------------------- */

#tech-skill-container {

    margin: 1em 0em;
    /* border: 1px solid red; */

    display: grid;
    row-gap: 5.2em;

  

}

/* ---------------------------------------------------------- */
/* Tech Skill Box
/* ---------------------------------------------------------- */

.tech-skill-box {

    display: grid;
    row-gap: 2.3em;

}

/* tech skill header */
.tech-skill-header {

    color: var(--c-sfd-light-brown);
   
    /* opacity: .6; */

    display: flex;
    align-items: center;
    column-gap: 1.3em;
}

.info-box-tech-skill-header {

    border-radius: .3em;

    background-color: var(--c-sfd-light-grey);
    background-color: rgb(60, 60, 60);
    /* background-color: var(--c-sfd-dark-grey); */
    /* background-color: black; */

    /* background-color: var(--c-sfd-light-brown); */
    
    /* opacity: .6; */

    /* background-color: black;
    background-color: var(--c-sfd-light-brown); */
    /* background-color: var(--c-sfd-dark-grey); */
    /* background-color: var(--c-sfd-light-brown); */

    width: 4.5em;
    height: 4.5em;

    display: flex;
    align-items: center;
    justify-content: center;
}

#img-frontend-stack-tech-skill-header {

    height: 2.4em; 

}

#img-backend-stack-tech-skill-header {

    height: 2.4em; 

}

.tech-skill-header > div:nth-of-type(2) {

    font-weight: bold;
    line-height: 2.2em;

}

.tech-skill-header > div:nth-of-type(2) > div:nth-of-type(1) {

    font-size: 1.8em;
    color:rgb(60, 60, 60);
}

.tech-skill-header > div:nth-of-type(2) > div:nth-of-type(2) {

    font-size: 1.3em;
    color: var(--c-sfd-light-grey);
    
}

/* ---------------------------------------------------------- */
/* Tech Skill Set Container
/* ---------------------------------------------------------- */

.tech-skill-set-container {

   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: .8em;

}

.tech-skill-info-box {

    border-radius: .3em;
   
   
    /* background-color: var(--c-sfd-light-grey); */

    background-color: rgb(60, 60, 60);

    color:rgb(36, 36, 36);

    color: var(--c-sfd-light-grey);

    background-color: rgb(60, 60, 60);
    color:#d0d0d0;

    /* background-color: black; */

   
    /* color:rgb(133, 133, 133); */

    font-weight: bold;

    font-size: 1.3em;

    display: inline-flex;
    column-gap: .5em;
    align-items: center;
    padding: .6em .8em;

    /* opacity: .6; */

    cursor: pointer;

}

.tech-skill-info-box:hover {

    transition: .3s all;
    background-color: var(--c-sfd-light-brown);
    color:rgb(36, 36, 36);
    
    opacity: 1;
}

.tech-skill-set-container img {

    height: 1.2em;
}













/* -------------------------------------------------------------------------------- */
/* | 02/02 | Img Contact | Layout 
/* -------------------------------------------------------------------------------- */

#welcome-img-contact-layout {

    padding-top: 3em;

    display: grid;
    row-gap: 1.3em;

    justify-content: center;

    border-radius: .4em;
   
}


#gallery-img-slider {

    /* border: 1px solid rgb(98, 0, 255); */
   
    display: flex;
    justify-content: center;

    /* gallery max img size , over responsive file its dynamically */
    height: 42em;
    /* width: 28em; */
   
    
}


#gallery-img-slider img {

    /* its important if we use images to use 
    images with same sizes for better handling and 
    not want jumping effects by different img sizes  */
    height: 42em;
    width: 28em;

    border-radius: .6em;
    

}


#welcome-contact-container {

    background-color: var(--c-sfd-light-grey);


    background-color: rgb(60, 60, 60);
    color:#d0d0d0;
    color:#d0d0d0;
    /* background-color: var(--c-sfd-light-brown); */
    /* opacity: .6; */
   

    /* width: 28em; */

    border-radius: .4em;
    height: 5em;

    display: flex;
    align-items: center;
    column-gap: 1em;

    cursor: pointer;
}

#welcome-contact-container:hover {

    transition: .4s all ease;
    background-color: var(--c-sfd-light-brown);
    color:black;
    opacity: 1;
}

#welcome-contact-container img {

    height: 2em;
    opacity: .8;
    
}

#welcome-contact-container > div:nth-of-type(1) {

    display: flex;
    align-items: center;
    justify-content: center;

  
    /* padding-left: .4em; */

    background-color: var(--c-sfd-light-brown);
    /* background-color: red; */

    height: 5em;
    width: 5em;
    
    border-radius: .4em 0em 0em .4em;
}

#welcome-contact-container > div:nth-of-type(2) {

    line-height: 1.6em;

}

#welcome-contact-container > div:nth-of-type(2) > div:nth-of-type(1) {

    font-size: 1.6em;
    font-weight: bold;

}

#welcome-contact-container > div:nth-of-type(2) > div:nth-of-type(2) {

    font-size: 1.2em;
    font-weight: bold;
    opacity: .6;

}






/* ---------------------------------------------------------- */
/* 3 / 3 | Jump to Read More About Me | Container 
/* ---------------------------------------------------------- */

#welcome-jump-to-read-more-about-me-container {

    display: flex;
    justify-content: flex-end;
    justify-content: center;

    
    /* padding: 2em 0em 3em 0em; */

    /* padding-right: 3em; */
    
    /* border:1px solid grey; */

    /* padding: 2em 0em; */

}

@keyframes slowlyElementUpDown {
    
    0% { padding-bottom: 8px;}
    100% { padding-top: 14px;}
}

/* auslagern in sfd-forms ... Link Buttons */



.a-sfd-light-brown {

    border-radius: .3em;
    padding: 0em .8em;

    display: inline-flex;
    align-items: center;
    column-gap: .6em;

    height: 3em;

    font-size: 1.4em;

    font-weight: bold;
    color: var(--c-cf-black);
    
    background-color: var(--c-sfd-light-grey);

    text-decoration: none;
}

.a-sfd-light-brown img:nth-of-type(1) {

    height: 2em;
}

.a-sfd-light-brown img:nth-of-type(2) {

    height: 1.3em;

    /* start condition for animation keyframe  */
    padding-bottom: 8px;
    animation: slowlyElementUpDown ease infinite .8s;
}

.a-sfd-light-brown:hover {

    transition: .3s all ease-in-out;
    background-color: var(--c-sfd-light-brown);
   
}






   
/* ------------------------------------------------------- */
/*  Welcome Content Description & Contact | Container
/* ------------------------------------------------------- */

#welcome-content-description-contact-about-container {
    
    position: relative;
    top:0;

    padding: 3em 0em;
    
}

/*--------------------------------------- */
/* Description 
/*--------------------------------------- */

#description-about-container {

    background-color: rgb(77, 17, 17);

}

#contact-about-container {

    background-color: rgb(81, 81, 21);
}


/*--------------------------------------- */
/* Contact
/*--------------------------------------- */


#contact-about-container {

    /* border: 1px solid red; */

    display: grid;
    row-gap: .1em;

}

/* muss man vllt. nicht definieren löst css framewokr */
#contact-about-container > div:nth-of-type(1) {

}

#contact-about-container > div:nth-of-type(2) {
    
    color: #7b7d7d;

}




















































