/*

    my-quote.css

    > define the layout of my quote about container

*/

/* ---------------------------------------------------------------------- */
/* My Quote
/* ---------------------------------------------------------------------- */

#my-quote-sfd {

    position: relative;
    top:0;

    /* mobile  */
    height: 11em;
    padding: 0em 1.6em;
    

    background-color: red;

    display: flex;
    align-items: center;
    justify-content: center;

}


#my-quote-element {

    z-index: 1;

    width: 16em;
    padding: .6em .6em;

    border-radius: .4em;

    /* blockquote  */
    text-align: center;
    font-weight: bold;
    font-style: italic;

    background-color: rgba(33, 33, 33, .8);

    color:var(--c-sfd-light-grey);

    color:rgb(204, 204, 204);

}

#my-quote-sfd img {

    z-index: 0;

    position: absolute;
    top:0em;

    /* combi to stretch absolute img width 100%  */
    left:0;
    right:0;

    height: 100%;
    width: 100%;

    /* height: 22em; */
    /* width: 100%; */
   
   

}
