/* 
    sfd-about-welcome.css

    define the welcome container layout of my
    about page 

*/


/* ---------------------------------------------------------------------------------------------- */
/* Title Welcome | sfd
/* ---------------------------------------------------------------------------------------------- */

#title-welcome-sfd {

    background-color: var(--c-sfd-dark-anthracite);


    /* Mobile  */
    padding: .3em 1.3em 1.3em 0em;
    display: grid;

    /* Desktop  */
    /* display: flex;
    align-items: center;
    justify-content: space-between; */

}

/* -------------------------------------------- */
/* Box | Title Welcome 
/* -------------------------------------------- */

#title-welcome-box {

    display: flex;
    align-items: center;

}

#img-welcome-cartoon-me {
 
    /* mobile */
    height: calc(4em + 3vh);

    /* desktop */
    /* height: 11em;   */
}

#title-welcome-content {

    /* mobile */
        /* row layout  */

    /* desktop  */
        /* column layout  */

}

/* welcome title content  */
#title-welcome-content > div:nth-of-type(1) {
 
    line-height: 1.5em;

}

#str-title-welcome-to ,
#str-title-superfresh-word {

    font-weight: bold;

}

#str-title-welcome-to {

    color: var(--c-sfd-light-grey);

    /* mobile */
    font-size: 17px;

    /* desktop  */
    /* font-size: 1.8em; */

}

#str-title-superfresh-word {

    color: var(--c-cf-white);

    /* mobile */
    font-size: 19px;

    /* desktop  */
    /* font-size: 2.5em; */
  
      
      
}

#str-title-superfresh-word > span {

    color: var(--c-sfd-light-brown);

}


#title-welcome-quote {
    
    padding-top: .3em;
    line-height: 1.2em;

    /* mobile */
    /* font-size: .8em; */

    /* desktop  */
    /* font-size: 1.5em; */
    
    color: var(--c-sfd-light-grey);
    /* font-weight: bold; */
    /* opacity: .6; */

}

/* -------------------------------------------- */
/* Box | Welcome Date 
/* -------------------------------------------- */

#welcome-date-box {

   /* mobile */
   justify-self: flex-end;
   
    /* font-size: 1.3em; */
    /* display: none; */

    /* desktop  */
    /* font-size: 1.5em; */

}

#welcome-date-box > span:nth-of-type(1) {

    font-weight: bold;
    color: var(--c-sfd-light-brown);
}

#welcome-date-box > span:nth-of-type(2) {

    color: var(--c-sfd-light-grey);
}
